flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "EEE 1A - miguel ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3107cd676cb750f8",
        "type": "tab",
        "label": "dashboard(DESENVOLVIMENTO)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "921fa2367eb264fb",
        "type": "tab",
        "label": "logo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f881aab2fefcfaf6",
        "type": "tab",
        "label": "ChatBot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da5722c94ae8843d",
        "type": "subflow",
        "name": "Tratamento ABS",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 240,
                "wires": [
                    {
                        "id": "75fdf3282cf6e474"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1420,
                "y": 60,
                "wires": [
                    {
                        "id": "8ca10b3a7face068",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1420,
                "y": 100,
                "wires": [
                    {
                        "id": "a4bddd28cb456949",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1660,
                "y": 300,
                "wires": [
                    {
                        "id": "c4d5d8da0cee0a50",
                        "port": 0
                    },
                    {
                        "id": "6eda74eb64ed5de6",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b5104c50172985cd",
        "type": "telegram bot",
        "botname": "Geradores_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "7166b7d82f90c3a1",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "PD7",
                "default": "#4B7930",
                "baseColor": "#0094ce",
                "baseFont": "Trebuchet MS,Helvetica,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094ce",
                    "value": "#0094ce",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#dedede",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "base-font": {
                    "value": "Trebuchet MS,Helvetica,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Geradores",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 46,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "73ac5ca33a2d09eb",
        "type": "ui_tab",
        "name": "Geradores Iguá",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1ae89d1b9790a8fe",
        "type": "ui_group",
        "name": "Captação Vera Cruz",
        "tab": "73ac5ca33a2d09eb",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "939772c70fa6cc49",
        "type": "ui_group",
        "name": "ETA Fragoso 1",
        "tab": "73ac5ca33a2d09eb",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a65a32413aa7fc7a",
        "type": "ui_group",
        "name": "ETA Fragoso 2",
        "tab": "73ac5ca33a2d09eb",
        "order": 5,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2fd861eeeba7ab6",
        "type": "ui_group",
        "name": "Captação Avelar - Paty",
        "tab": "73ac5ca33a2d09eb",
        "order": 6,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86c35363ddd20f85",
        "type": "ui_group",
        "name": "EEE A1 - Miguel ",
        "tab": "73ac5ca33a2d09eb",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae7c79969a498679",
        "type": "ui_group",
        "name": "EEE 1B",
        "tab": "73ac5ca33a2d09eb",
        "order": 7,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ecaac3f5a8dc2ee9",
        "type": "ui_group",
        "name": "EEE 1C",
        "tab": "73ac5ca33a2d09eb",
        "order": 8,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e74e220875cefc55",
        "type": "ui_group",
        "name": "EEE 1D",
        "tab": "73ac5ca33a2d09eb",
        "order": 9,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c1144ee7e96d106",
        "type": "ui_group",
        "name": "EEE 1E - ETE JAVARI",
        "tab": "73ac5ca33a2d09eb",
        "order": 10,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a6254e6.c472c8",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ab52afafd221cb44",
        "type": "ui_group",
        "name": "Timer",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74f3afc8.2fd5",
        "type": "ui_group",
        "name": "Timer",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false
    },
    {
        "id": "59e2ded26cd3e865",
        "type": "ui_group",
        "name": "",
        "tab": "73ac5ca33a2d09eb",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8b487500cc28f49",
        "type": "ui_spacer",
        "z": "921fa2367eb264fb",
        "name": "spacer",
        "group": "54923ca06bd9695f",
        "order": 1,
        "width": 5,
        "height": 1
    },
    {
        "id": "61e81a5d3fa13eba",
        "type": "ui_spacer",
        "z": "921fa2367eb264fb",
        "name": "spacer",
        "group": "54923ca06bd9695f",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "d77a067eefd72ba3",
        "type": "ui_spacer",
        "z": "921fa2367eb264fb",
        "name": "spacer",
        "group": "59e2ded26cd3e865",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "0c2baffe4a9c155c",
        "type": "ui_spacer",
        "z": "921fa2367eb264fb",
        "name": "spacer",
        "group": "59e2ded26cd3e865",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "04f283895e2bb4f8",
        "type": "ui_spacer",
        "z": "921fa2367eb264fb",
        "name": "spacer",
        "group": "59e2ded26cd3e865",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "e6bbc7604fd9ce58",
        "type": "ui_spacer",
        "z": "921fa2367eb264fb",
        "name": "spacer",
        "group": "59e2ded26cd3e865",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "6576376cdf9b7a1f",
        "type": "ui_spacer",
        "z": "921fa2367eb264fb",
        "name": "spacer",
        "group": "59e2ded26cd3e865",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "9b1d11f1a572a191",
        "type": "ui_spacer",
        "z": "921fa2367eb264fb",
        "name": "spacer",
        "group": "59e2ded26cd3e865",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "044cb6ae2d88f024",
        "type": "ui_spacer",
        "z": "921fa2367eb264fb",
        "name": "spacer",
        "group": "59e2ded26cd3e865",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "b28a36f257b62ce7",
        "type": "ui_spacer",
        "z": "921fa2367eb264fb",
        "name": "spacer",
        "group": "59e2ded26cd3e865",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "75fdf3282cf6e474",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "parse strint in array",
        "func": "var newMsg = { payload: msg.payload.split(\"\") };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 240,
        "wires": [
            [
                "d9f449198493df96",
                "40ec335ce1716a92",
                "c715ca0656398e5f"
            ]
        ]
    },
    {
        "id": "d9f449198493df96",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "GET data",
        "func": "var newMsg = { payload: msg.payload.slice(15,23)};\nreturn newMsg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "4ff8e78875c5e151"
            ]
        ]
    },
    {
        "id": "40ec335ce1716a92",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "GET hora",
        "func": "var newMsg = { payload: msg.payload.slice(24,29)};\nreturn newMsg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "93d5d37962b4ce61"
            ]
        ]
    },
    {
        "id": "c715ca0656398e5f",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "GET DI",
        "func": "var newMsg = { payload: msg.payload.slice(44,52)};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 280,
        "wires": [
            [
                "61a077474eb45553"
            ]
        ]
    },
    {
        "id": "93d5d37962b4ce61",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "parse array in string",
        "func": "var newMsg = { payload: msg.payload.toString(\"2\")};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 240,
        "wires": [
            [
                "a4bddd28cb456949"
            ]
        ]
    },
    {
        "id": "a4bddd28cb456949",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "HORA",
        "func": "var newMsg = { payload: msg.payload.replace(/,/g,\" \")};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4ff8e78875c5e151",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "parse array in string",
        "func": "var newMsg = { payload: msg.payload.toString(\"2\")};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "8ca10b3a7face068"
            ]
        ]
    },
    {
        "id": "8ca10b3a7face068",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "DATA",
        "func": "var newMsg = { payload: msg.payload.replace(/,/g,\" \")};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "61a077474eb45553",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "parse array in string",
        "func": "var newMsg = { payload: msg.payload.toString(\"2\")};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 280,
        "wires": [
            [
                "73974f815fb74ae9"
            ]
        ]
    },
    {
        "id": "73974f815fb74ae9",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "IOs",
        "func": "var newMsg = { payload: msg.payload.replace(/,/g,\" \")};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 280,
        "wires": [
            [
                "a381497ee18a7ee4",
                "28a0ff6b87d07ae3"
            ]
        ]
    },
    {
        "id": "a381497ee18a7ee4",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "DI 0-7 ON",
        "func": "var msgHigh = \"1\";\n\n if (msg.payload === \"1 0 0 0 0 0 0 0\") {\n   return msg ;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 280,
        "wires": [
            [
                "c4d5d8da0cee0a50"
            ]
        ]
    },
    {
        "id": "c4d5d8da0cee0a50",
        "type": "change",
        "z": "da5722c94ae8843d",
        "name": "DI0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "28a0ff6b87d07ae3",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "DI 0-7 OFF",
        "func": "if (msg.payload === \"0 0 0 0 0 0 0 0\") {\n   return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 340,
        "wires": [
            [
                "6eda74eb64ed5de6"
            ]
        ]
    },
    {
        "id": "6eda74eb64ed5de6",
        "type": "change",
        "z": "da5722c94ae8843d",
        "name": "DI0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "30e8e1c1aba85261",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "LOOP_1s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "d831e63f7e3d02f7"
            ]
        ]
    },
    {
        "id": "d831e63f7e3d02f7",
        "type": "tcp request",
        "z": "f6f2187d.f17ca8",
        "name": "EEE 1A - miguel ",
        "server": "gprs.absltda.com.br",
        "port": "6256",
        "out": "time",
        "ret": "string",
        "splitc": "0",
        "newline": "",
        "tls": "",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "007d08bf598ede59",
                "cd3d23381ed6298c"
            ]
        ]
    },
    {
        "id": "ad7c3efdad8137a2",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "teste",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ABSMSGNS;16937;19/07/22;10:48:30;DI=0000000010000000;EV=0000000000000000;AI4=0;",
        "payloadType": "str",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "cd3d23381ed6298c"
            ]
        ]
    },
    {
        "id": "cd3d23381ed6298c",
        "type": "subflow:da5722c94ae8843d",
        "z": "f6f2187d.f17ca8",
        "name": "TRATAMENTO INFORMAÇÕES IOT",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "d990e07f21a92df1"
            ],
            [
                "3fefcf8ca533da2f"
            ],
            [
                "71b68d2ce85c983d",
                "df0f8ac6f9561c70",
                "62688561ec6708ad",
                "af234944760e5aa3"
            ]
        ]
    },
    {
        "id": "71b68d2ce85c983d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "3fefcf8ca533da2f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "d990e07f21a92df1",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "007d08bf598ede59",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "de751ff9a3a0cbcf",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "6faa999e38634e0c",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Set msg.topic to time create global: \"time\"",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "time",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "time",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 740,
        "wires": [
            [
                "61b9d92f9a8c5cdb"
            ]
        ]
    },
    {
        "id": "6449edb882d57c05",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "every 1 second",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "6cf8f494a3515be3"
            ]
        ]
    },
    {
        "id": "6cf8f494a3515be3",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "flow.clock_state == \"start\" ?",
        "property": "count",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 740,
        "wires": [
            [
                "82314a1af7af9253"
            ]
        ]
    },
    {
        "id": "82314a1af7af9253",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "run timer",
        "func": "let clock_value = flow.get(\"clock_value\") || 13;\n\nclock_value++; \n//if (clock_value < 0) clock_value = 0;\n\nflow.set(\"clock_value\", clock_value);\n\nlet mins = Math.floor(clock_value/60);\n\nlet secs = clock_value % 60;\n\nmsg.payload = (mins + (secs / 100.0)).toFixed(2)\n\nmsg.payload = Number(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 740,
        "wires": [
            [
                "6faa999e38634e0c",
                "f24379c80f7cf803",
                "aeafe0eeae7a8aa1"
            ]
        ]
    },
    {
        "id": "280bd73b41e7b401",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "count stop pause timer",
        "rules": [
            {
                "t": "set",
                "p": "count",
                "pt": "flow",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "13394bd6a6e34002",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "pause",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "280bd73b41e7b401"
            ]
        ]
    },
    {
        "id": "b98f449b8efb7daf",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "clock_state run // start / resume",
        "rules": [
            {
                "t": "set",
                "p": "count",
                "pt": "flow",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "e50b1fecc5cbf209",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "start / resume",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "b98f449b8efb7daf"
            ]
        ]
    },
    {
        "id": "8c447ed844810688",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "clear and count reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "count",
                "pt": "flow",
                "to": "stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "clock_value",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 940,
        "wires": [
            [
                "f24379c80f7cf803",
                "aeafe0eeae7a8aa1"
            ]
        ]
    },
    {
        "id": "d570863a4c77cd03",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "reset count value",
        "rules": [
            {
                "t": "set",
                "p": "clock_value",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "5126ae27b0efce7c",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "reset count value",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "d570863a4c77cd03"
            ]
        ]
    },
    {
        "id": "39cdb7bb7c79f894",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": " stop and count reset ",
        "rules": [
            {
                "t": "set",
                "p": "clock_value",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "count",
                "pt": "flow",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "5741efcdc5aee825",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "0 and stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 900,
        "wires": [
            [
                "39cdb7bb7c79f894"
            ]
        ]
    },
    {
        "id": "e8f60d7f25098be8",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "hard reset",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 940,
        "wires": [
            [
                "8c447ed844810688"
            ]
        ]
    },
    {
        "id": "f24379c80f7cf803",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 940,
        "wires": []
    },
    {
        "id": "dd503e14587a03b0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 780,
        "wires": []
    },
    {
        "id": "df0f8ac6f9561c70",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 580,
        "wires": [
            [
                "b98f449b8efb7daf"
            ],
            [
                "280bd73b41e7b401"
            ]
        ]
    },
    {
        "id": "aeafe0eeae7a8aa1",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "calculo de nivel",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0.01",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "120.01",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "240.01",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "360.01",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "480.01",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 800,
        "y": 1100,
        "wires": [
            [
                "5f6ed0caa57cd7ed"
            ],
            [
                "4801225d8e050d27"
            ],
            [
                "f7289c4a4ce42bd8"
            ],
            [
                "9f3a09476184fb3b"
            ],
            [
                "15b4a7e154c3b5c4"
            ]
        ]
    },
    {
        "id": "0abc51884b23749d",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "calculo aqui",
        "info": "total 50L\n6L/h\n\ntempo total ligado 8.3 horas\n\n0 --> 0L 8HORAS\n1/4 --> 12.5L --> (14L)6HORAS \n1/2 --> 25L --> (26L)4HORAS\n3/4 --> 37.5L --> (38L)2HORAS\nfull --> 50L\n",
        "x": 790,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5f6ed0caa57cd7ed",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "full",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0.01",
                "fromt": "num",
                "to": "FULL",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1040,
        "wires": [
            [
                "f7789df387a0bbbb",
                "04d0db3cf673ae93"
            ]
        ]
    },
    {
        "id": "4801225d8e050d27",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "3/4",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "120.01",
                "fromt": "num",
                "to": "3/4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1080,
        "wires": [
            [
                "f7789df387a0bbbb",
                "04d0db3cf673ae93"
            ]
        ]
    },
    {
        "id": "f7289c4a4ce42bd8",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "1/2",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "240.01",
                "fromt": "num",
                "to": "1/2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1120,
        "wires": [
            [
                "f7789df387a0bbbb",
                "04d0db3cf673ae93"
            ]
        ]
    },
    {
        "id": "9f3a09476184fb3b",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "1/4",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "360.01",
                "fromt": "num",
                "to": "1/4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1160,
        "wires": [
            [
                "f7789df387a0bbbb",
                "04d0db3cf673ae93"
            ]
        ]
    },
    {
        "id": "15b4a7e154c3b5c4",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "0",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "480.01",
                "fromt": "num",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1200,
        "wires": [
            [
                "f7789df387a0bbbb",
                "04d0db3cf673ae93"
            ]
        ]
    },
    {
        "id": "62688561ec6708ad",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "separador",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "1aa24dd4d8cb8ab7"
            ],
            [
                "0a57327666a7b828"
            ]
        ]
    },
    {
        "id": "1aa24dd4d8cb8ab7",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "inverte 0 -> 1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "de751ff9a3a0cbcf",
                "a9f7f9237e9c7c97"
            ]
        ]
    },
    {
        "id": "0a57327666a7b828",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "inverte 1 -> 0",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 520,
        "wires": [
            [
                "de751ff9a3a0cbcf",
                "593a70c238c89d85"
            ]
        ]
    },
    {
        "id": "0d7a75f82668b349",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.01",
        "payloadType": "num",
        "x": 1030,
        "y": 920,
        "wires": [
            [
                "5f6ed0caa57cd7ed"
            ]
        ]
    },
    {
        "id": "335d4fecedac7a27",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "240.01",
        "payloadType": "num",
        "x": 1130,
        "y": 980,
        "wires": [
            [
                "f7289c4a4ce42bd8"
            ]
        ]
    },
    {
        "id": "af234944760e5aa3",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "separador",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 380,
        "wires": [
            [
                "77174a7989419f40"
            ],
            [
                "1890a25f365fc2d3"
            ]
        ]
    },
    {
        "id": "77174a7989419f40",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "inverte 0 -> OFF",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 360,
        "wires": [
            [
                "8dbc7cedb5a07667",
                "e8e404268645a925"
            ]
        ]
    },
    {
        "id": "1890a25f365fc2d3",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "inverte 1 -> ON",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "8dbc7cedb5a07667",
                "e8e404268645a925"
            ]
        ]
    },
    {
        "id": "593a70c238c89d85",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "inverte 0 -> OFF",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 460,
        "wires": [
            [
                "64cc4ee349527784",
                "f60de5746764b07d"
            ]
        ]
    },
    {
        "id": "a9f7f9237e9c7c97",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "inverte 1 -> ON",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 500,
        "wires": [
            [
                "64cc4ee349527784",
                "f60de5746764b07d"
            ]
        ]
    },
    {
        "id": "e8e404268645a925",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "SET STATUS-GERADOR",
        "func": "global.set(\"STATUS-GERADOR\", msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f60de5746764b07d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "SET MONITORAMENTO-DE-FASE",
        "func": "global.set(\"MONITORAMENTO-DE-FASE\", msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8bcba219fee05ed3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "SET HORIMETRO",
        "func": "global.set(\"HORIMETRO\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 600,
        "wires": [
            [
                "74676b77fb48b622"
            ]
        ]
    },
    {
        "id": "04d0db3cf673ae93",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "SET DIESEL",
        "func": "global.set(\"DIESEL\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1080,
        "wires": [
            [
                "8170b794620fbb5d"
            ]
        ]
    },
    {
        "id": "9866cc1d8d025297",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 990,
        "y": 320,
        "wires": [
            [
                "64cc4ee349527784",
                "f60de5746764b07d"
            ]
        ]
    },
    {
        "id": "8170b794620fbb5d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 1100,
        "wires": []
    },
    {
        "id": "74676b77fb48b622",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 700,
        "wires": []
    },
    {
        "id": "83f2c75c3af5b2cd",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 970,
        "y": 280,
        "wires": [
            [
                "8dbc7cedb5a07667",
                "e8e404268645a925"
            ]
        ]
    },
    {
        "id": "61b9d92f9a8c5cdb",
        "type": "calculator",
        "z": "f6f2187d.f17ca8",
        "name": "soma hora acumulada",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "sum",
        "constant": "780",
        "round": false,
        "decimals": 0,
        "x": 1360,
        "y": 740,
        "wires": [
            [
                "281071fcf8212415"
            ]
        ]
    },
    {
        "id": "8ca55dde0ef29ca4",
        "type": "ui_digital_display",
        "z": "f6f2187d.f17ca8",
        "name": "horimetro",
        "group": "86c35363ddd20f85",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 1640,
        "y": 680,
        "wires": []
    },
    {
        "id": "a74700b84646720f",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "86c35363ddd20f85",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1640,
        "y": 640,
        "wires": []
    },
    {
        "id": "8dbc7cedb5a07667",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "86c35363ddd20f85",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1270,
        "y": 380,
        "wires": []
    },
    {
        "id": "64cc4ee349527784",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "86c35363ddd20f85",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1190,
        "y": 500,
        "wires": []
    },
    {
        "id": "f7789df387a0bbbb",
        "type": "ui_multistate_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "86c35363ddd20f85",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "1/4",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "1/2",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "3/4",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "FULL",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 1250,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "281071fcf8212415",
        "type": "calculator",
        "z": "f6f2187d.f17ca8",
        "name": "divide 60",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "60",
        "round": false,
        "decimals": 0,
        "x": 1500,
        "y": 780,
        "wires": [
            [
                "8bcba219fee05ed3",
                "8ca55dde0ef29ca4",
                "dd503e14587a03b0"
            ]
        ]
    },
    {
        "id": "6c7045ff9a01ea30",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "Captação Vera Cruz",
        "info": "",
        "x": 530,
        "y": 20,
        "wires": []
    },
    {
        "id": "8b71121d4bac1eed",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "ETA Fragoso 1",
        "info": "",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "12a23bd08cdd3650",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "ETA Fragoso 2",
        "info": "",
        "x": 420,
        "y": 540,
        "wires": []
    },
    {
        "id": "1dd8d17626bcc68e",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "Captação Avelar",
        "info": "",
        "x": 420,
        "y": 800,
        "wires": []
    },
    {
        "id": "2a98fc7ab8ae4e9b",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "EEE 1B",
        "info": "",
        "x": 390,
        "y": 1080,
        "wires": []
    },
    {
        "id": "cc86eb6869b6c52e",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "EEE 1C",
        "info": "",
        "x": 410,
        "y": 1340,
        "wires": []
    },
    {
        "id": "c7ddb2b837cc5f48",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "EEE 1D",
        "info": "",
        "x": 450,
        "y": 1600,
        "wires": []
    },
    {
        "id": "9fcc877bd4224d9c",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "EEE 1E - ETE JAVARI",
        "info": "",
        "x": 500,
        "y": 1900,
        "wires": []
    },
    {
        "id": "69241b0187adb45c",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "1ae89d1b9790a8fe",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "dbc2a1fc61ebc4c2",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "939772c70fa6cc49",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 240,
        "y": 460,
        "wires": []
    },
    {
        "id": "a1ece11443769fa6",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "a65a32413aa7fc7a",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 220,
        "y": 700,
        "wires": []
    },
    {
        "id": "dac9383fb9642db6",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "b2fd861eeeba7ab6",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 220,
        "y": 980,
        "wires": []
    },
    {
        "id": "1bec88412e3ab621",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "ae7c79969a498679",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 220,
        "y": 1240,
        "wires": []
    },
    {
        "id": "11e86f71f59ae26f",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "ecaac3f5a8dc2ee9",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 200,
        "y": 1500,
        "wires": []
    },
    {
        "id": "dd1edfd95f9b6a49",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "e74e220875cefc55",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 200,
        "y": 1760,
        "wires": []
    },
    {
        "id": "d177752c56c138fd",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "6c1144ee7e96d106",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 180,
        "y": 2080,
        "wires": []
    },
    {
        "id": "a95aced30aa10a44",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "1ae89d1b9790a8fe",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 340,
        "y": 140,
        "wires": []
    },
    {
        "id": "3d0310e6e4ea5628",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "939772c70fa6cc49",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 240,
        "y": 420,
        "wires": []
    },
    {
        "id": "948e3e7932296ff4",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "a65a32413aa7fc7a",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 220,
        "y": 660,
        "wires": []
    },
    {
        "id": "55e244858cdc4671",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "b2fd861eeeba7ab6",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 220,
        "y": 940,
        "wires": []
    },
    {
        "id": "cc4d5a933c56f3e1",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "ae7c79969a498679",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 220,
        "y": 1200,
        "wires": []
    },
    {
        "id": "64d2d021c40e69a6",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "ecaac3f5a8dc2ee9",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 200,
        "y": 1460,
        "wires": []
    },
    {
        "id": "ac2b29e568aae334",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "e74e220875cefc55",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 200,
        "y": 1720,
        "wires": []
    },
    {
        "id": "5426b59ab5ae3173",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "6c1144ee7e96d106",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 180,
        "y": 2040,
        "wires": []
    },
    {
        "id": "2820576da39ec239",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "1ae89d1b9790a8fe",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "5e28ece990c25811",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "1ae89d1b9790a8fe",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "717339aab2019922",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "939772c70fa6cc49",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 340,
        "wires": []
    },
    {
        "id": "05c31e38ee4e01dc",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "939772c70fa6cc49",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 290,
        "y": 380,
        "wires": []
    },
    {
        "id": "01b348160bfa9d4a",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "a65a32413aa7fc7a",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 250,
        "y": 580,
        "wires": []
    },
    {
        "id": "53ead7b96b084f7e",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "a65a32413aa7fc7a",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 620,
        "wires": []
    },
    {
        "id": "81092f5988cddd08",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "b2fd861eeeba7ab6",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 250,
        "y": 860,
        "wires": []
    },
    {
        "id": "872fb15f3771830a",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "b2fd861eeeba7ab6",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 900,
        "wires": []
    },
    {
        "id": "cfc2049c99ef4ef5",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "ae7c79969a498679",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 250,
        "y": 1120,
        "wires": []
    },
    {
        "id": "489afb7ac56961dd",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "ae7c79969a498679",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 1160,
        "wires": []
    },
    {
        "id": "0022e5491c8be9fd",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "ecaac3f5a8dc2ee9",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 230,
        "y": 1380,
        "wires": []
    },
    {
        "id": "24f0b50e10821a5a",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "ecaac3f5a8dc2ee9",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 250,
        "y": 1420,
        "wires": []
    },
    {
        "id": "2774fbd669a66e58",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "e74e220875cefc55",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 230,
        "y": 1640,
        "wires": []
    },
    {
        "id": "42ccb69470fd5d66",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "e74e220875cefc55",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 250,
        "y": 1680,
        "wires": []
    },
    {
        "id": "6d79f1bdbf578bde",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "6c1144ee7e96d106",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 210,
        "y": 1960,
        "wires": []
    },
    {
        "id": "f37d11eb1fd60a88",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "6c1144ee7e96d106",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 230,
        "y": 2000,
        "wires": []
    },
    {
        "id": "86ae96e644787c82",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "1ae89d1b9790a8fe",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 330,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "983915a625bbf840",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "939772c70fa6cc49",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 230,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "785672eaa549e5f1",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "a65a32413aa7fc7a",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 210,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "82b75de4f27d3f8d",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "b2fd861eeeba7ab6",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 210,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "1721ccaefe9ca17f",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "ae7c79969a498679",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 210,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "48205c0dd5392695",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "ecaac3f5a8dc2ee9",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 190,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "907ee8ad9459a970",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "e74e220875cefc55",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 190,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "72162ba28eba03a3",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "6c1144ee7e96d106",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 170,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "03e1a20c24d1a3f4",
        "type": "ui_svg_graphics",
        "z": "921fa2367eb264fb",
        "group": "59e2ded26cd3e865",
        "order": 2,
        "width": 8,
        "height": 2,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"357px\" height=\"78px\" viewBox=\"0 0 357 78\" preserveAspectRatio=\"xMidYMid meet\"><image id=\"svgEditorBackgroundImage\" x=\"0\" y=\"0\" width=\"357\" height=\"78\" xlink:href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWUAAABOCAYAAAD4mQf6AAABMWlDQ1BBZG9iZSBSR0IgKDE5OTgpAAAoz62OsUrDUBRAz4ui4lArBHFweJMoKLbqYMakLUUQrNUhydakoUppEl5e1X6Eo1sHF3e/wMlRcFD8Av9AcergECGDgwie6dzD5XLBqNh1p2GUYRBr1W460vV8OfvEDFMA0Amz1G61DgDiJI74wecrAuB50647Df7GfJgqDUyA7W6UhSAqQP9CpxrEGDCDfqpB3AGmOmnXQDwApV7uL0ApyP0NKCnX80F8AGbP9Xww5gAzyH0FMHV0qQFqSTpSZ71TLauWZUm7mwSRPB5lOhpkcj8OE5UmqqOjLpD/B8BivthuOnKtall76/wzrufL3N6PEIBYeixaQThU598qjJ3f5+LGeBkOb2F6UrTdK7jZgIXroq1WobwF9+MvwMZP/U6/OGUAAAAJcEhZcwAACxMAAAsTAQCanBgAAATtaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA2LjAtYzAwNiA3OS4xNjQ3NTMsIDIwMjEvMDIvMTUtMTE6NTI6MTMgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczpwaG90b3Nob3A9Imh0dHA6Ly9ucy5hZG9iZS5jb20vcGhvdG9zaG9wLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdEV2dD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlRXZlbnQjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCAyMi4zIChXaW5kb3dzKSIgeG1wOkNyZWF0ZURhdGU9IjIwMjEtMDMtMjZUMTU6NTQ6MzQtMDM6MDAiIHhtcDpNb2RpZnlEYXRlPSIyMDIxLTAzLTI2VDE1OjU5OjAyLTAzOjAwIiB4bXA6TWV0YWRhdGFEYXRlPSIyMDIxLTAzLTI2VDE1OjU5OjAyLTAzOjAwIiBkYzpmb3JtYXQ9ImltYWdlL3BuZyIgcGhvdG9zaG9wOkNvbG9yTW9kZT0iMyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDozMGFkMzUxYS05ODE2LTc5NDItYTgxNi1iMWMxNmViMmQwODMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MzBhZDM1MWEtOTgxNi03OTQyLWE4MTYtYjFjMTZlYjJkMDgzIiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6MzBhZDM1MWEtOTgxNi03OTQyLWE4MTYtYjFjMTZlYjJkMDgzIj4gPHhtcE1NOkhpc3Rvcnk+IDxyZGY6U2VxPiA8cmRmOmxpIHN0RXZ0OmFjdGlvbj0iY3JlYXRlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDozMGFkMzUxYS05ODE2LTc5NDItYTgxNi1iMWMxNmViMmQwODMiIHN0RXZ0OndoZW49IjIwMjEtMDMtMjZUMTU6NTQ6MzQtMDM6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCAyMi4zIChXaW5kb3dzKSIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7d4GhVAAAupklEQVR42u2deZwkRZn+v29EVnXPMNyn4AGyKiDSjYBccihegAfqiIiiubjqLrK/9Zh1F2/XY11txV3wXF1DBLxaDgEBAUVElLsb5Ebu+xhmgJnprsqM9/dHRFZl11R3V8/ZI/n0Jz9dlRUZeT/55hPvIapKhQoVKlSYHZDiw15H7LWZCMcgHCwiO4iRjUQgTk+JES8GRFhkrGCMLAKWWCtLjGWJCIuN4WmTmCXWskSMPCHCQmBhvd8stFYWirDQWhb+cMGF1ZOgQoUKFSYj5T3fvte+IpwuwuYIiBEEIZIwxghhPogIxgjGhg6sDZ9FwCYGMWBMWEYM2CS0L9oliWAsC62VhcbwmIjcX6vxiDFyn7XcJ8Jd1nJXLZH7P3/EuXl1iipUqPCMIuU93773cxGuE2FDKCzjNiGLCC2LOVjI4XMk5oJ8jRC+W8HYQMLWSouki89hfvyfBEM9SYp5oW0Slh1PLDcnibkR9OZaTa63RkY+eshZd1anrUKFCn+rSIDjgA1VAwF3UTYiI4MU82K7or2EHwO0/V+1vYwimKJfaXcvE1YjgdwD8fcpDAADprDcRfjG+W98whiuTSzXAH+yRv74gQPPfLg6lRUqVPibsJRfdvje94mwDSWLGKIlHFgUY9qyhLQs5bY0EeZpkC8kWMs2KazntnRhrUSrOSxbWM9JtLitlfDZgm1Z1YI1UEtMa9nEtmUVE7b5Dmvkj8ZwMcJF6d5n3F2d2goVKqybpPy2vVVEwHRIFRNkDGmRtEgwb41pSxUmkm0xT6KmbCzUaib+roGERSMhT9SjazWDNYK1iokkLKKFlBG0aAmEbC3Y0vYEcg59x3m3I1woIucjesG7dj9jSXWqK1SosI6Q8r5NEZJCUjBSsoYjOxckW1jI0fuipSm3dOVoAYuUdeXC8o1WcU0woi1rubCgC5Kt16WlKxspadBxG5KW9hytblOWPQorn5LVr+MIFwFnAb96525nPFCd9goVKsxmUr4DYTspdOPyZKRkJcsEsguEKi1JoyBJsWCtaf1Wq7XJ2ybROhZtfQ8eGSaSbjHIR1vKMFBLIkmbkkUeBxdribQkl9aDozQhSlvoRhEuBU5V9LR3vvTMR6pLoEKFCrOKlPd4274Xi8gBZS25JWOYkoRhDNYoYoKsUMgWwSpuyxW2ZEUH3dm0LNskiZZybCcoSU1ahGwjQRfWcGLDMrbw7jBBxrAlUjZGorVcWPba1sUjKZcHEzUStKIeuFDR/1PVM47a7azx6nKoUKHC2oYBuavtDmGCl0OgNND2fBS8GlTDd1XB+0jghStF0V4ExSBigfjZtEzX2Hd4AKhGzwxjWr8ZY7Cm5avRstZbTxIJGrIpySythwdtTw0jQvlv+X3nNcBPgQd+fPUbTjjp6jcMVpdEhQoV1iYSkHvUtwf6VIOJKWjLFUO1bUEXvmyBJDWQrkbyLIm6bZ05DMAVZFo4yQUyDbKFNW3L1raIOurQ0YPOSKEhB7Jtty/JFRTPhLbniJSs48J1T1FEpTUf2AQ4Fjj2pKtff6kqJyh6Wrr7OVl1iVSoUGHNWspq7gpkaSLBSpRgJ1rKEq1bjQysahBj0ZYQbeJn2yJVkcKyFsAiYqKVbRAx0WMiatZWsNa2CT1uk7YmabePg3oTrOQ4WWsiQUtJxihJMiVyXt6CVhRejvAz4C531aH/5q46dF51mVSoUGFNyhf3KCWLuLCGVdBCrojEqthoDbfJNui4FrDhvxiMsYjY0rKBaMFEDdpE69tEjTrKJmLidhTLgYnzjJgocVB6eBQUK8VjI9C/KQ3+iekmXbQpuHj+sFw6jm2ALwM3uqsOPbC6VCpUqLCGSJk72y/6geyKqW1BEzViaZFvINlA1IVbRtvybOu6QfZoW88a12GTZIKFGwXhMNCXGKxt68q1xE6weCF6aiRtSUOEqCG3UVjLhe7dWl/rNym1ay/ZkTnvOcBF7qpD31NdLhUqVFgTlvLdqMknDOohE6zhQjdukxZRe46E7cvkSqu90h74M9ZiTLR2FbxnQp/FwFx7/W1LXDUQsAgkNhB2IXGYUsh3eTIdA33FdrXIGbraz8XAYpeH1/+5qw7dv7pkKlSosDqRXDn8u2yP+QfdrcrzW3kqxBIE5LaXhBDkDFTCIJkK6gPxStJB0pGIN5+3BX31WrRoDWI0Rv2VQqtbkYCQGKKFDGKUJBGSwl1ONMwnusIJiGaoWULO0xOiECek4tDgEmcQVDUOTRaDfG2ZI34NbbrnmDbAF4CKmCtUqLD6SDnah7cDz1c1wa+Xtv4rJcsXDdotJRmh5aGBkOdhwA7gsXsX8tl3fZ5tt952ohnaxTKd7LflZkv33+556HquX3gCSjYxwVGJnbW1lYGQRaQVU1KQcPE/WOddifnl1SVToUKF1SxfgKrcrmo65Auitmza3hgSPSGKDHBxkA4sqjaQmReeuH8RqFCv1acg5LKAIB3T9IRcxnO3egl9bNZ2uRMJA4Ql7wxDmNd6mGibqrv5MneRMACq/M4VKlRYE5ayuZ2SBwae4ElhCj/fSFgavSbE4lUxnTq0wBMPLQreFAK1Wn1ibs7JbOEuhD21hdzFilWJg48Te9FubaNsoQUxS4ufS2sOftodFvNodclUqFBhtZOyqr1DWjkiTMvabBmV3uCjtdnyWDA2+g9ry0Jd9OATMRm+QSxk+dSG5bR8PamFPNG3GCA3iydZXFqLqIbHi5GWhEyZs4P7neJVW0IHUeaI5P6D6pKpUKHCapcvgFuCT7Jp+f56DVKE+uiuVpYXtO0ql+cW74XFDy9CMSBJDKk2PLX06RXaqOl05k7c/dAoXsam77fLU2BCxKB0emeUg87lXkEqUq5QocIaIGU1t4EZD18NqjFnhZjgh0wRnWcDUUcC9z60f+rRxVGyCP7KngTVhLsfvGfFreRJBgW7LXbFzT/tgeiXz4NhO6z/CW1bPswtMv/8e3Y/u1FdMhUqVFjtpHz16WfnIDeHwT4T9VYb1Q1BNQnfJVjCWkjRGJ56bHEga0lCgIlNQiIiEX571SUzkCRm8HsJt993Jett+ei07crachE43j4IMiHAxLCcv/JfjcgPq8ulQoUKa0q+AJUbgmxho4wRgkeUJFjFGpp6X0T8WZYsXBwHBEO4NLYWLGabILbOTffcwUnn/QzvtXfpYgaErHhG7vhZz8tIF6s49MNyA30GKZE1nz1qt7Oq5EQVKlRY7UjaxCQjonIkCN6HJPXqo10Z3JfROB8xLFn0NBL14zAWZgiR1zHkOpa4PvOP53H9XTdxwMBebL3Zs5jT30+rGbQH3URjwqHoXWGgntTZepPnYcR23fib7vwDczdf3DMhl5lf4uBd22+ZkO8jDlyGQUEQuFZETq0ulQoVKqxZUvb26nJCePWCGJ2QB1klZIVb+sSTmARaBfZiYVWMQWNVkVLpD+566F7uffReTGJadfkSCzYJUXqJNSQ2R4xQs0pfIhywy8Hst+PrJiXk3Gf85f4zmbeZ4EO8HoLvkaDBlwk5OtmZ1nyDF0XxGMzH3rHrGb66VCpUqLBGSRm4OmjFGt12YypPD5KYVrrOpYufxhgL0b1MpBUHHQv4BZozSYIYHz3spCishyRFWLVvVSTBKCQJRZ77t77879l1uz06BYaWG5sCo7f/lr5NlpGrja5rhejQIzFLyS9OAxEjilHTImowvzli19MvXJEDOzB/QR34EPAm4FkTpKLuaAIPAzcAvwQuGB0e0mnW8S4gBZ4H1CZp5oFFwP3ANcC5wOWT9T0wf8FehMT/qwtPA38CPj06PPTgZI3SND0Q+Doh1/WKYoFzbng234Bpmr4F+BygzrldnokklKbpxsDewOPOucsrUo649sxfLt71sCNuR/3facshzOC9YnKDFxh/cgnGxCi/wuTE4lWwUZMQI4gxqAheEqzxUCsI2uA1SBReTEitIRoyf4pFDbx+jzd1EDKUozsUyPIGty48nzkbmNIAnkfIQ3pRynX5tIuMUdjKgZWNBItZJ+rKHvjXFSRkA5wJvG6Gi/4dsC/wfuCKgfkLjh4dHrphknV8Efj4DPreFXg98GnghoH5Cz4HDHch5/5I8qsTL47bs/sUbf41tlkZ9K0D9+AngZ2Bxc9EAkrTNCEEZT0n3jOHPdNJeYL1pip/DgN9RZa4wtsCxp5aFjO/tcOXlVD5VCQEkmBrkVxjjmQRvOlDTAKSRNIO+ZaNTVCbgK2jUsOL5QVb78j+Ox407UZfefP5mPWVjDq5Ji2rfmJSfMvkTnSEYTwxrXzNwdg2rQreCN97+66nXbeCx/XgFSDkTrwsEvOruhDys4F/W0lS/DlwzsD8BZutpWtvt4H5Czac4vf1VrJ/D1y7DtyDmzzDOehZkZArdJEvUMwfRXkXpp37QjCMLVkSsrwVqTUlvuCbpFRyL0G9IRfBqGmVdkKiFl2UdrIGNSGJRJAuAKPYxPDm3d8yleAAwHhjKX9d8idqc4NFHLapEXyjySPd5iWVuLg/O63mtopM2SsjDPYtNphPr8RxfeUqOj9zgV8NzF+w3+jw0NWl+fsBdhX0f3Ak/teMDg/dvoavvSeBp6axICd7YPw/4BXx80do5QSfgJucc7dUt/ish60OwRSkDFwW3MNMKxPc+JKlkRNNyyINckWR7yL69obS0iHtZ9SRNWrJIgpJDYygRvACJjGoFdR4VJQ9tt+NrTbaqoM0l8cf/nIuOse0Qrw9QpN+LBkWRbFheC7mDpJA/7QF5HZuCymJFb6Va0gwyOfeOvjzR1fiuG66Cs/RHOAXA/MX7DI6PFSESG6+CvvfDjhvYP6CvUeHhx4FxtbQtXfK6PDQpAMAzrlLp3jlLb/i/s45N1LdyhX+JuULVP4CZlGwkg2NpWMxQVwteji0s64VMoFXiychp4aaWvzdoKZdHkpNDZUEabld1LGJDRGDpoatz+XggddMah0XeHrZk9yroyAGj41Vs4vUoQYfg12KiihaVEYhIYyDWYqoxYmTYLDFwOWNIubEWXaetouWY/fztvLYHjh5YP4CAW6b9Im46jAG/Gd1+1WoMA0pj/7qZI8kvwdLc2xZtIzrQQsWGyQKLJLUwNRCkEhSB1uLv9VQ24e3/ZD0Q30OavtRSfDSh5o6ufZhEktGjVz68SS8/AV7svHcjSbYyNolF9xvrz8HX7PkasnpI9N+PH0E/TtBqZesYdMi4eBVYjpIvjNtKLFWoDnmLQM/bc7Cc3XswPwFq1N/fA1w+Ojw0OPAr1fzvnxrdHjo3ur2q1BhevkCkIua48ve1LIiizIfRsAmiFG8t4gNUX7iDcZaJIlyRQwaCdpzHOyzNawVcmOoWU8mNZIw7kdfvc7BO+836QYWxLxoyUIeqN2NlQQjngyLkSaCoYmhzjgh62i9ZSsbshD6TQYkCBbIWrQ/kZ8NIKe8eeCk38/Sc7UecDjwndW4jk8CPwOOBV5KGIRZ1XhqNljJcdR/kOBpsj5B474TuM45l69AfzVgN+C5BK+PR4ER59xDK7F9L47noElwabzFOacrsc8CPB/YKl71jwK3Oef8SvRpgJfEt7mNgMeA251zN6/m8ycEr5XtCIOljwN3Ouf+sgr63S4eI1s6RvlaI+WxpxZfZuv9rSrVEl/uKZIUmag3G9MOr465liF4XmASEI9KQh7rTBtjQSAXJTGCF4sY4VU77cX6/fO60HCZMZVzrz2XbP0aBsiok0iOJ0HIMRgyBKtNjLRd4TwWQ5NCUw7ex5a2i11B0ALoYpCProFjfvfo8NC2nTMH5i/oB74PvHOKZV/VIylvNzo8dFfsVwiVuQ8luMNtPcVyOw/MX7Dr6PDQtQPzF+wBfAN49QruZx/Bva4TXx8dHnpsLZLxs4F/B94DzOvSZHGapj8C/ss590AP/T0H+EQ8b/O6/H4F8J/OuTN63L7tgM8AbwY26Pj54TRNfwJ8yTn36Az2eXPgOOCILg/ax9M0PQ34gnPunhn2+e/AUXQZ40jT9G7gW8AJzrllq/D8bQx8LJ6/Z3X5/X7gROBE59zTM+h3O2BBPO6d/S5K0/Q84PPOuRsnWf7r0ZAZAw6eycMzTdMN4r32fGDpcqR8y0W/vHqng9/zoArPEkzUkmOQiAp4iSHSMVEREgvsJUhiEBu+h0G8EFQixgTbNEnA+JYnxvpz+nnNDrt3JeEyHlr0CI/MW4ghIdOQMMhKKxt/pOAwwKdRXTb4SMQ+Pnt8iaCL9SQQPTZAP3bYLv/38Noii9HhobGB+Qv+CXgtk3sd7LsC/SpwH/DdgfkLzgB+C+w0DfFfOzo8dD/wtpmsa2D+gkMJgRAvmoSQHweG1iIhHwr8JFrGk2FDgnfHu9M0fYdz7rwp+jsS+B5Tu++9DDg9TdMzgKOmIoo0Td8O/JAwuNsNWxICko5O0/S9vQTGpGl6eHzYT7bPmwLvA96TpunHnHP/3eNxPImp3fmeB/wXcEyapkc45/68Cs7fQcCpwBZTNNsmvon9c5qmRzrnft9Dvx8Cvszkfu0bxQfa29M0/SbwUedcZ8bIHYAD4ucXAzOx2I8B/j5+/l3XASOf+wtEgv9xIOOgyYqxMdlQH2r7kCSBpN7yQ9ZCd1aL1yQMvEkt+C/bBC+G3PahJsEnczh4x72YU5vev/9X1/yGBn3kUsNLQkYfDZ3DmK7HmK5HpjXygpSjL3UY4Ct08KB3e/rQ1oBf8aJgAXMJyP+u7Vfq0eGhp4DTp2iyVbSoV7T/h4Ejp2m204r0PTB/wSeAs+Mr/LxJmn2x5EGypgn51fHYlsmpCdwIXB7/Zx034ulpmu4xSX//AJzSQciN2M9V8bW3jMOAi9I0nYzA14+EM6fjtfER4ImOthsAv0jT9P3T7PMHohy1fpeHY+fbSh34RpqmX5ymzyOBX3UQsgduBa4E7uhCzr9N0/SVK3n+3kiIRt2i4/jcHtf71w5rbmvggjRN3zBNv98Cju9CyE/Ec6gdFuOxwLlpms7taF/2FpppLc8DSp8v6UrKebP5G9UkZIwjCSHSthbio7EhECTW7BMkVCEp9OQi7LpIShQnNQliEsQYctPHBnM34FUvHGgdWZ1EvLjzsft5dGMfPT4sObU4JXgsXmrk1AFLRn9Bsnhq0Xe53iLp9lR4YwAk42Dff9guP1BmB26a5veNV5L4R+OFPBk2WQFCfh+h0vdUuBf49loi5HnAj0on/d4oN2zonHuxc24v59yLI9kdFfVborX/g6gzlvvbPb6aF3gAOBrYOPa3h3Nui/g6e2aH1TyZ/GRKr3G3xu3YyDm3pXNuk2gBfqSD7L+VpunLJ9nn/bps4weBLZxzmznnNo9W8j8w0c/742maHjFJn3sCrrSdjwMfBjZ3zr3IOfcy59z28fX/c0D0p2UOcFqUCFbk/L0kPlyK8/dklGO2cM69IK737+KbxHG0/d9rwE/TNN1xCgv5n8p0Q4im3dI5t0k8hxsAbwWuKLV7JfC/U5Dy/jPYN0MIMS9wcVdSXnjn9b/D2Iaxpl0cVQXNE9QkUVeO5aAkTCIWlXqYkj6k1ocmtRahi60jSS0sj+HNO+1KzU70G28TcztQ+rRrLyaXhIwaGXWazIlWcZiKB1hGHTBkzCGnHyVY6p6210jwxKi1rOd4H/zHYbt8ZzYFGUznJ1xfBetYMs3r+0wIeTvgv3to+rnR4aGxtXRMjyzphLcBL3XOndqpdTrnljnnTo7WfqGvvqTLTfbVEkGMxv5+6Jxb2tHftc65w5gYffmuNE2fP8W2/hLY1Tl3snPuyVJfDzjnjgd2KRGEBU7s8tAwkfyL+/syYMA5962yFu2cW+ic+wEwAJxT6uL4Tos+ruPbpf3+S9zvbzjnFnbs90POuc8Ce5YecBtGi3RF8N2SHPbXuN4vO+ce61jvo865L8fz99c4e27Hw6nYn+dGyaLAmfEY/a9z7pFSn087506LxPn58jWVpunrS9+viG9eMyJlYMfSPTcO/LkrKT9+1w0PKOYiL/UoARiQGioGvGkP6mkNTCC43Ef5wiTRdzmQYG76yU0fuVoyb/GmxuYbbMQrtt+RbhWsy28KNz14N09sask0YUzn0qSfvCVF1IqkQZFgLRl9gYQ1RCMS8z4Xk6ceLeUi+CS5HMxXmF2YLu/Ewlm2vf8xhQZKyfL70VrcxvLNs6DzZu6Ec+5h4FOlWa8u3cw7AAfGr08Dh8b2U/X3lWiRnQzs6Zy7Y5Km1wBHdpJ7J+EBbyhZzANdXpcPLMlQD8ZtfGyKPp8iePYUb2lbxXXQYf0VuUgWAYdMNzAYPSEOLpHVm9I03X6GVvLuJUtyCfBq59xfp1nvbcAhQPHQPTBN04GOZseWJItLgcPjcZisT++c+zRhELF1LZV+H4syCsA2aZpu2+Muls/dVc65sUmDEHzuTwODStSFjUWSeggKMTZG7oWADTV9YJNWwntssFLV9iG2yCJXwyd9qCS89SW7kRizHAl3Yvi6y/CSoGLwktDUQNAZwXJu6FzGdD0a9JNpLVrZQbooiLdM+kVllaAlm3ElSQ/b5YRZk7w+ekocMkWTpVF3ni3buxNTe4sU+NTo8NDaPM47xP8Z8Jselzm39LmsK+8z8V519/fSmXPuO865o5xzV0x1nLoMIHXr65EOq/PAjiblBDJfd84t6qHPpR0SVOd1eHDp85Bz7t4e9/t6JhYcfs0Mz115vSc45+7scb23At8szXptR5M3lj5/qJfjXsg7UT4B2C96ThT4Q+nzfj32Vx68vximiAxbuvCBczA2C+SblKYamDrYOlIQNtIOLomloySp4U2NnD4QS44lJ2GLeZuw/7bPn3ZLr7zrNp7YbF7LQvYkqITgkBAWXUPwFMWbigHGIFvUyJhDxpxgxdOPj/KG16Swlj/1ll2+djOzC++Nr8uT4YpZtr1fYvriXSPAL9bydhbeLI9Hi6aXm7qs3ZYHl7aeREdcFbh4Bm3Ltdae3fFbOcHPb1dw/c/t+K1s+Z0zw/06d5J+esFzV2K95fadenZBQnc5567utcNoTV8Qv5qOfi9dFaScTNby3j+f+eBOb/m3ixDz2pAPI7jDBYszfPdiW+nlVaLOXOjLphZz3Au5qWNMUIrfscsu2GnqN3mFX946SnPTDaiJ0lCLSI6qR8WS4emnQYO59DNGpnVyhLpkGB1HxbfyKuf0YWiSU4+eyxleze+N8LW1RRAD8xe4LvPXI/hIToVZE9gS/Zjf1EPT46bLC70GUBgfK6ppb9yF4AsNcFXhqalkiy5YMslDAyb6N89E7irLMBt1/FZex/0z3Lf7p9jW6VD2gX5wVaw3TdONmDjoO1PcV/r8LMK4AgTtvgh8mFZXTtN0q9LDIY/LT51DQb0/hZbngonEG2v3KajXWMevXcMvFFoNhVd91JnxivfCdhtuwn7bPq81iNc5Ef9fcvvNPLnpRojAuNbJSWhq0qp8YqIUkZHQoJ+cWqBbrTGuc8m1Rq5Bd87jwF6xH55kEZij5u/yxbVVTWQ9guN75zSfqTNmKcE3dLbgCz20+f3o8NB5rPtYugbWsTLXo6yKDZgmaq3MFTNNQ5Cvom2daVRdeTvtajjuUPLHjwOeRXDJi2KATa9W8lXFQ3lKUn7s1svPReTpwv1twhT1ZrUh2VDh0aMlzx4Vg3ppDQC+Y3DnKbdQETLvGb77bhpaZ5nODfNIyEminhxc3JrEwUNNWtJIMbjoNfgie61FIrYtT4yc2gcOH/jMuph34dejw0N3zBIr+cAetcGPs44iRo4VeIIKFXpDWVeezl95n27S0ZSk/OiNlzyG19OD1axhIlS7LqxPn2kk3jggV7KqxVrUWrwXtpq3Pns999nT7tF5N93EUxtuSE7Qqovsb3mcPJYx7aepwfvCRw071yQmKgph1Jn2BX9mjd4hwWPDvXPg336+Dp7oBiuX1H5V40s9tDl7dHjosnX45iprglVe5gorQsrT6cr7zpiUAfKs+cMJlrISBvyiZSsxUERV8Xmoe+cx+BzyLIQ/5x72es7Wpbfw7hhrNvnVI4/QoE5Da4xrnYbW8QpepTXlamlqQpMEjyHTIF8IkGmNLErleXTNy7SOYm5UzLHr6In+98nKQq0FK/lQJjq7Tya1fHIdtpJ3J+QiWO6GqVBhGvQ02Jem6RxCcFEhofyp+C2Zbg22b/2L0fw2sC9QDV4WLUJW8BkYa5CYGJ8iF0Yss5Q3cyQRNluvvyQpdSfm02+4icXrbRTrgVgMebB81eDxeHIMGUYyJJKuxET7ieY06CORnFwTjBTVRwSQpZnWDn/f4D8uWQdP8rdGh4eOnw0bEl32etGSfxojB2cbnp2m6V3TtNmEiWHJjwNnVFxToRc45+5J0/QegtfIrmmazpsk38ketAcbr3XOLe7ZUr7x559S7/l+4e/rfahwXQRmIAbNY1FTL0G/zQSfg/e0RvGeWNo58N2RwL7R4KwnQ3Xqpi8s3TCAqAiqgldLQxOaWgtShdYgJt/XuCteDQ0NlrbH0NA+Gtr3wfcN/uMN69j5zYCPjQ4PfXAWbdPhhHSXU75cEbLRzUZYQnDOVFNnnoiPlCPrKlSYgbVsp3ir3HeyN7GeKlg0nnrsJETGIMgXhcdF60XVC76pgahbhC34TMkbOXkGl9/7cId8MdFa/snIDYzV5+Ax5Bi0HPTR8TlTQ0MTGpqwzPeRaYKqaSclQsixNLWGV/nBP+36XrcOndAnCM72Lx4dHvrqbNmogfkLEkI+g+nw/bVQ769XNOh9BP8W4DDn3EkVx1SYIXrRlcuDgGWf8+nlC4A7fnPiQzu+/YunYjhahOizHCm9IGIsPgtBfapAHuuHGNDMc9tDCzn3pjs5eIdtlzOUH1+6jAuagremxdVNn1A3WUikj29JI0LxX0ENKkpTQ4RfXZsk4kEyRAURrpSQhGU24UG6R+15QkawR6aqXbcW8S5CSs6pMNYjca/NY787ywdblKHAI865BytuqbCSlnJXUo55RPYqXW+XzpiU45L/LcjRqiYScgwmKYqMeEWtIB40y0MlbFVUpFXY42sXX8nCZUs5YmBHrG2z8o+vuZ5GMnc5UcP7QLogNNWgkqMi9BmN1rBg1JNjSdBYs89ENzl9tA5v/chu7xyfZSesMTo8NLKWt2HeFL8t6mIl1wk5LqbDCaPDQ7OazGIOiMcq3qiwGnFDfOPdGNgzTdN6Rxj3DrSzMV7XmdCp5wKcN//sE9ehclHwtCjUh3ZCIUXQpseP5+RjTXzmycZy8mZGPt5Ec6XRaPK9P45w9PC5XHv/I6Dw0FNL+IPtX07RkCKpUJzv43cfdeZxn5CpCV4YGvJijGudhk/INGl6zOEf2+2Iqg7c8gS7K6FQ6mToRlgfYGLobjcsJiQ1r1DhGY1YdeSP8WvZy6KbdHFx5/LJTFaWN8a/autzDsJGycKDqgbJAkUSKdgTmjlSlzjQp+TjGYrH1IQ7Hnqcfzn9fF7yrM0YzzLy524HuaIKYiV6VkTFQiEvyNkE+h/PEqx4EqtBg9bggWGit0Wm9tjP7fHGi6vLYzlC3ppQeWMqXNexzFx6CwL5Wiy6WqFChSBJFNkJ9wfKlVf2mUTqmDkp33rap8/f8YivXoHKy0DQLBJxS2/QmJ9CQ7IgY0M+fCP4ZQ1Mf4LPNcgamXLdvQ+x4U67IEsamP4amvsQyk0gZAW8D2SrAk1v8Ag18SEpUR5KU4UiUME/ehw5cWjP136vuiZapNpH0FAPI9RU22yaRc7v+P5BQirHqfAoK54rd13D+DP0UiqHmm9EF5lrCpTlspnW6xubpJ9esFHpc9ktrTzYW1uBY2F7aNM52FdOEVz2vFgun42Z6dbkzeZ/qVc0jxF+TY9mcSrmN3K0keOXNvBjTbInx4O00cjRRka+tIFflrH+C3ZGM49vevx4hmZx+aYPFnde6BbBYtZc8R6avggiMeS5kHlD7g2Zmt/kaj5UUTF3DsxfoAPzF2i8qG8n1MabjpAvGx0e6oxee3cP61trZZ56REEEq6JAQDlpzzbPoGuqnIRnlxkuW24/02RGD62i9T5QkheeKpH99rEowEzQS07oq0rr2LdYR5qmWwAviPNv6FYAd8akbPvmnI6aVmCARrIk00isWRjoyzK0mYV5eYbPc/x4Ez8WcoTM235H8qfHAxE3PX4sC0Q+lqGRkLOGJ29GYvZK7qXl+5yphNnekHshVxnNvbzt+L1enVNhRdFtMG+6mn1rrczTDFDckFtOUSOvV5T93XsuLJumaX+apluuw9fGSOnzB2aw34ZQmLXAtTNcb7n9+2ewXulof80k53FL4HUz6Pc5TMxX3RVxYK9Itbtx6T4qSxeXdFt2xqR806kfVt8c/6TmTHQ1VgXvgwShGiYU9cGdTQDU48ebzHveCyEPXl9+PMM3A49q7oOlnCv5WMyJriFcO2vStpg95FkIZAmGtNwHHHriPgdVTv4rjl+MDg+d32X+dMm/Pz06PNSY5ft2bel6P7rHm2+nNE1PTNO0033xYtpJzg9I0/ToHvraklA+6aE0TU+L1tK6huGS5XdImqbv63G5T9MOOHoMuHCG6z2DdprSA9I0/XCPy32kJBMsJhT1nXC9lz6f2ENGN9I0rRMqg/f6xtXNNW7VkzLAracddzbKn/ElWSHPIfdoMw8WcjPDNzL8eJNs8VLyp8fwY03We84LyJc2yccy/FggZBFBG5HQm9FajtKFesU3fYerXDGWaMi8eTLL5ZDv7PuK+3nmYFW/Ddw2hRUyVZL0mwgljmb9A6f0+SuxIvNUN9/uhETmHwTOSdP0CyULaBz4n1Lz76Rp+qHJXoHTNN0pHsPtSzfnsnXtgovVTjr3+1NpmiaT7PecNE2/AXymNPvz8fhNhr4u613MRD3262mafikSZFfiTNP0S1GuK/DlLqHO3y1JUdsBl8RSX5NdE5sSqnjPpHJKWVcu8itP6XkBMxzoK8Nn48eZWv/vJIzGoRIsZN9shsG/poeagHokAc1hzqbb4Rs5RgRJLJr5IEVkiliDSQymbkPaDAFtKhrzIGUNJamFgb3ouowIy3LhDScftN/1s+wafmQd6v8W4FWjw0OLJvn9U/FC7HatfHItl3nqFb+JVsn+hPy3p6Rp+gHgFEKC8nFCgc2dgEMJ9emKwZwnCBWcy/giIQDopYSBouOB96dp6uJr/jJCyPYhhND0oi8PHD1VLbhZjs8Cr4r7baLc9Z40TU+Jr+pPxVf1vQk5wssDxOcysb4dJeu5SFKzV5qmm3fRWb9MqJNYENpxhAK0JwGXEwYdNyIEZBzFRPfNizsIuiD7RWmavjcSrSH4Dl8X+zw9Gio5IYfF66Jks+EMj9dltMPs9k/T9JWEoq4At8R6i6vGUo7W8sWgZ2j0uCBXtJmDKn68GQh6WRPNc3zm6d/42Wgjaw3c5U838JmP7BukCwDfzIPF7BXfzMmbQVf2XsmavpxTIwfe/pOD9r1kFl68v1vN/V/CzBONd8PpwN6jw0P3TdZgdHjoGkI16E53t6vi8msDM6pkEv1G38PEQab9o7X05yhv/JFQNv6wEokuAg52zt3e0d8Ywd2pXE5sR4Kf9vnx/PwYeEcHIb/XOXdWx+at6HnMVtXxmcFxXBYJqqzPbh8lirMJngRnENLMbtXxUJzvnPNd+nw6kheRWK9N0/SzaZoe0KHPvr7Ujki8n4ikekn8//EOQv4DIVQ+m2R/ziEMZBdvnjVCSbazo7Fye3zL+VgHId/e4/F6kraL6dbARSXp4w+TLWdW5iRly548DvXNkGvZB3LW8Nk3svA/8/RtuE2baMcy8iWNQMJZbJf7IGF4Dd4YpUmzIGv4XIOWHP2Zc897f/aqfc6apRbFeazGzGIxau4/VqKLq4E3jQ4PvWV0eOiJHtb3C+CFkcSKG+vja7HM03UrQCh3RQvugh4XuQDYzTl3+ST9PQjsGTXG6eSkm4BXOudcl99GVvAY3Elb2+7EX1bi2N46zXF8NFqsx/ew34ujVXvINKWu/rX0cNomSh7v6SJjvDJazdM9yJbE++Ogcva1SfbnlNhvLwVZFxHSDcykVuD3J5k/aWk3uzJ3xsJbLn5skxe9YlMR2Ut9rKHn80jMOYjSv8k2YaDPFpWlQ6pPIEgYucZBQKVVus+DGAm6sggiYIwgUmS+4JgzD9nn+7P1He/hGy9jq532+WW0LvvizfNwnO54+MbLTlkF67hkq532uT6+do+V+u823RutjJOBj4wOD33h4Rsvu2WG61v28I2Xnb3VTvucRaiqvdY8LgYHB6+IlvoFwBUjIyM9abQjIyNPjoyM/HhwcLB402hGYhmPVvT10cL9qHPuKyMjI09M09/4yMjIWYODg6dGArKxz0a8yc8DPg/8v/hQ6LYv58aHzLkjIyM9y3AjIyPNwcHBXxLK2l84MjJyZ6nPP0Tr/3zgqpGRkcYMju1pxbIjIyO3TLLubGRk5PzBwcEf0vZsyeKxvDe+fZwQ3wwuHBkZ0Wn25b7BwcE/x4dmEX78nZGRkas72uUjIyMXDQ4O/iCeLx/XmRFc9i4nVLB+r3Pu1yMjI77HY3n34ODgt4G/RpLaLN5XxHv3D1FPP9o5d8Xg4ODraOeu+Mlkxyn2feXg4OBfCGXgnkPbL/pfRkZGuj5UV7q21yYv3P/Zm+18yJWqfisiKQdi9vRvtg1Yg1jBzKkj1iKJAWuwc4MVLzWL7a+BEUxiQ9u+pLVhNglac/gvWMOCX79p369RoUKFvylEN7ZnAY2Yo2RtbksNsN2qn6dp+k3gmPh1H+fcn3rorz9a2n3Anc6550/WNlnZjV946yX3bbDdyz5Tm7vxd4N8ER5O9Q22DLIEQBKi9ZCQxEgsaDNHklhUtZljajb8x6KNHKlZxISER5p5vCrkctz5R+xfEXKFCn+DiNr/A7NkW5pTyCS7lz4/1GOXe9H2LplyHMysih246/yh7/nm+O+Jvsn19Se6/IVgEm1F/pH7GHQStePxLMwnutc1Pfl4FjXl1pvPcRccsf+Xq0u3QoUKa9GC3hd4WYmQ7+px0bIr3cWrnZQBnrzz8k+guqw+r0TIImBiHT+N5KoayHhZHOzT6IvcyGPkXjvE2jfyInz7uIuOPKAi5AoVKqwusp3XQ5t9mehx9MNo3U+33EbA35dmTemdJatyx3Z8xwkfBr5eELIYCZqyMYg1SGKCZJEU322QKWo26MkmkLipJ4gIpm4xVj546Qde/a3qsqlQocJqIGMheHR8jDAw+n3gUufcQ5FMn0eIDHwDE8Ox7wd2ds4tmqLvbQn+1f8CvLiwkp1zr5hqm5JVuofK/wBvwcjLiwrXoiGVp2rpgZJ5kFhbL/OINfjMx7SdJkgZRrzm5gOXHvOa71eXToUKFVYTPhsJGeC1cSJN06mWeRQ4dCpCjjiMidkTx4GPTrdBZlXu3U0//ecckZQiVr3wPS4a+OBgrLlHszzIEzGM2jdCljg8aO6b6vXwP/3zaytCrlChwurE8QQ3yF5xFrCLc66Xau1lD5InCQE010y3kKyOvdzxyBP/EZFvB6fioCkHaSK4w5noFocxmFrhJmdDiLU1S8Saw6467o0XVtdLhQoV1pCMsQshWdV+wM60I+8ahOCfi4EfOeeunUGfNeCIyLPnOOd6KgKxWkh5h3ecKCJyBiJvxIBY29aYjUzwV5aaDdqyNYg1D4s1h17zmTdfXV0mFSpUWIskvT5gposIXB2Q1dXxjkd+c1NERhHZBiFE9FlTkC+YEFRSWMsKt5h6cvDIF992Z3VJVKhQ4ZkKs7o6vunUDz6O8E6EdqhjkW+58FWOqT995i8VkX0qQq5QoUJFyqsRN518zO9RfTfQCMn5pOWvrBCqrnr9H5SDRr9yxMLqdFSoUOGZDlkTK9nx3d/ZWYx8HCOvA9lYrHkQkfOx5sQbvp1W+nGFChUqFKQ8wX+4QoUKFSqsVfx/jKBwQ4HBQtcAAAAASUVORK5CYII=\" preserveAspectRatio=\"xMidYMid meet\"/><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"357\" height=\"78\" style=\"fill:none;stroke:none\"/></svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "both",
        "zooming": "enabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "pd7",
        "x": 330,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "075626fd6d21f3f8",
        "type": "ui_svg_graphics",
        "z": "921fa2367eb264fb",
        "group": "59e2ded26cd3e865",
        "order": 7,
        "width": 6,
        "height": 2,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"231px\" height=\"75px\" viewBox=\"0 0 231 75\" preserveAspectRatio=\"xMidYMid meet\"><image id=\"svgEditorBackgroundImage\" x=\"0\" y=\"0\" width=\"231\" height=\"75\" xlink:href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOcAAABLCAYAAACLKpC1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RUI2QkM1Nzk4QzE1MTFFNzhGQ0I4MTg3QUQwN0NCQjYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RUI2QkM1N0E4QzE1MTFFNzhGQ0I4MTg3QUQwN0NCQjYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFQjZCQzU3NzhDMTUxMUU3OEZDQjgxODdBRDA3Q0JCNiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFQjZCQzU3ODhDMTUxMUU3OEZDQjgxODdBRDA3Q0JCNiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pmbs1G4AACjPSURBVHja7F0JfFxltf/f2WeSydq0SZqmG7S0CN1YCkgLCLIUUaBsyiKgPhBRQWXz8RRZng8RRdSH8FRUQFktFISyo4UipQVa6L6lTdpm3zOT2e4757tnmunkzmQmM0nTMuf3O53mzl3m3vv9v/M/y/d92vaJpchJ9sXeG0HYpuFPd0zHzoPzkNcWRFGVE8sfrcdr9+xAYYUj95D2I9H9PmhOJ0rufhy2ydMRaWse6JCJpBeSHkc6mbSMm4V8t4b0f0gXJTuBLffYc5KTrMttpDeRJuqB55I+RVpI2p0DZ05ykqloGqlloL1eJj0lhbNZSatI1yfawZJ74jnJSUrE1gCnhVTXE+20JEVgygmxO9kOOXDmJCepGE2HC5GGBgQ3roYlr8Bsl5+Qfj7F07HDuoC0Pedz5iQnmYrVCt0fNAJBtn6wmUZ6awpnqSV9mPTnpG0D7ZwDZ05ykhIJ1RXPDO/YCD3QG//tI0mO9JE+R/oE6WLSYKqXzIEzJzlJldo6bQjt2IJIRys0uxN6UIH0EtLZJrsvI/0b6ZOkuwZzvRw490FcYQRIHpKE8HOSAJwFhQhu+gSR1ibYJ01DaPvGSlhtf6avekg/Fn2HdCmSRGFTlVxAaDhfrka0KKRDD3Pkb5/9jHmkW0lXkObn3kpKwvlILweF9J4udPz2R2Q1A7CUlofphZ5F340nPZr0StLfZwOYOXAOswT9EZRUO+HItxoA3TfyDIxqFaZidxyAj5nv7fukk7Jwrumkf5HObCv1rvdbikfB99IitNxwITR3Xr2ldMxihMNN2WFVERV4shSXwVpangPncEpvZxjlh+Rh1EQ3/PT/fSCXksbWa14AIxl+IMlLpD8TZpBJbepXhKZeTFqszqXr3yKAvmarqoTvlefR/rPrYSkphbVqohEw0vXBg5KOtVZOgLVkNIJrVqL3g6U5cA6nBHoiKB7vwsRjvfB1BBXNHWa5Pe7vcqFkB4rMQ19wpoj0O4M8zxUwIrD935CunwSL5Sbb2Ap0P/ZbNF12EoLrV8E2cSqsY8amB1LeLxIhgI+BbfJUBFb+Cy03X4Lm685B640X5cA5rD4nPe1QbxijJrlhd9rovQwrtT2btNpku/cAesRnxf190iDOcbr4jclAdRfRz0Jr5Vj433kDTVeeiLbb/gPBDasVSC1FZGRDwYFBSRTZftAhiDTuRPtPv4fmb54B35JnoTnsgNOVA+dwS09LCGNneFF2kGu4qe1tCbY37YPHwKM0/kr6n1k+7xwTZpCOkOnDC6n0swSwb/B/bBOqodlt6HrsQQLX6Wi95TKEd9fCcfihsBQUKxAallRXh2kEOuuYKrKUhyDcQKD82Q/Q9PWT0fn7e6HlF8A2vlpVI2k2ey6Vsi+CQgUVDpROcGHXmh54Cm2DdlXSkGNJDzPZvpm0LkvXGEX6GRglaR8MsO8SASjEr1uUhevzcKyZcdtCaZ7jBaQeR79Y+bbhMDQPgSq/ELqvG11P/xmBVcuQd+E1cB55ImyTpgG9fg4eQQ/4EWmuV9/7334FvhceQahuJ1nafALlOAIyW9S+DjsHzn0gFquGcXMKsOal1uEAJpJYqD9laKV4rOIxpIcLZY6mZs4h/XuC446PASbL1VkC56HiZ8bKpjSOv4V0Rhr78z0TorBDWUUCluYkd2XieITra9F2+3fBfmnBt++ArXqKqsllDXy0DOHazQi3dBKtjYIyYmic5MC5LwJD3WGitW7kldgQCuiwOYY0MlQtflS/n0H6izTPxbm8c2EUbU9Pst99ScA5N+7vQ8RaZdpNHWGybXkadPbOQVxzPuJL90IhWApLyBpaEGlvRtud15Bl9SLS1GgMbHE7DfpaXbjH90zYieegMvzS2xVGyXgXRk/1wN8RGurLfTcJgLpSPMdC0rdI3yX9wQDAhFiUqQm+i09vFGUpKHW0ybYVKR778ADftyboPI5OHPSJGCDlESwEQGvFWHAAiYNAmt2RUkR3f7Wc/ELLYj694nNwDxwRZcvAJWrN8nDZt/KNhB8fJmtZVGUn6+nBhqWt8FrsKtU1BMLP5OsJvvvvFI4/k/THJoGWVIM+ZpUykSFqh0eZbFuZwnEnkJ6c5Ps/kl4HI+/5m7jvZiY9MwPQZlfBncHISAfnFBh5uMPlk3vsMUJDitM8127DP1C9KdOdN0m37JO70gzrWTUrD3nP2BVYLbYhobYXwbxE7w/SYSUS7vB+TXp+BtdOVNyQF99XiWYiZRKMihXuGHamcOzvknzHRetXyP8fgDHvT+zz5CCbk8nQULy8kQTOqeLUs+8wi/Qg0WxJueiRpFfJtn+SPg2jpK12OG+WUyoT5xai8vB8bH+vE94x9qG4TKIkfDL/6jTSP0uDz0Qak/h3e7H8LDCauSYu2nspHHehGAAz2RrXObHFfx1751K55vZgGBHnAwacVqFKxwhYjpKbHG6ZJ3qPgJStxdvDQm1DuqqxrZqZj81L26Bp9mxHbtmSmA1lejkJY7iW9FfZcKtJP0rwXWXc353igmQix5lsSwWcyQJiZ5hsexv9Cx0OCHAyNeUw+nwBZdUIstp26UVZOQf3U6G9Q8dsNSNqWz3HC+9oB4K9EdgcWY3PXZVg+10Jtt+c5Lt05dcJrKEmwaJYac7C9T5rsm2gSO21SFykcCPpOpPtaxL41tjfwFkoYOR5VU4Syro/yKmiiyQY8tFQXai3M6SitsVVTtSv74GtxJLN93qJyXbO+71lsv1rWQBmp7gGTP1uSLBPhWis7MzwugXon0bpIP0wyTHOJNSereDdCb7bbLJt/P4Czkpp2AsEkMXYf+VLohyh+1GWevi9hHOcBRV2jJnqwY6VXcjjJEN2qO1Z0mjj5Zcm29i9eGgQ12CgLxWq9wnpWgw8L06VSaBoexYordOE0iYL0vwXEqdvvpLkuK1yj0Vx9zRiwckA/AKMqhAGpmsfgSkkVMqPvghgRKiURdQpv8+dxnmvkcAAV9k8mNVfLGOuq4/0YtWiRujhVKZFTUm+kcAPfNhk+wtpnLee9FEYifcPBvG7xiZo8JnICSbblibZvwTGhM9mwve2Ksmx3LY2YO+0TckAvy++3fFE0xyx9sjf+aIFwjYZTzybwj8yASdbx/NIv4j+ZVNZjZ3ASIHslBfJDYRzlpwa4aLtdlGeKqJbAVRDSIsgZA1GImGbpkWsmlXTVY/tlAfDWioPhK09D8zl6ORUoSkT4np4/u530qteO8ALTMPxpB/cGkLFoflqpErL9l64izLuL8ukk4yXv6L/1CTsW49J0UreS/q/cXSyUmx9jTTcgcRsVEym6Syz6SjfSbL/PTAvvtGlI04mZtO7sLt2B6JjPg2AueMA6I7ZluoLPjbdlsDO/FdFJw0BELdIz7RaHHKmSnW2QGQ7N2QLwdTVFTIqDegfa1gHfacauR5Tr2yh7UGnBZ0ldnhbgrqrJxwKW7WQWI8OTddBgN0Uclj27Ov3WNUZQnZL1I+YKJRvuvg0HNCaJz7oQwmsU9+b1ozfoUWST0nChfDFY50YOzMfOz/phrvYlim1/XKSIE2sjJbAx0DCNaf/g77iAWYQZ8vziLafXeLL/m6AQNoEk23bMrhXppQzTRjCu0muf3mC7y5E3zyy/GwOknNzh3KYdGLVJpaSAfnDIcDCTSmjmPSbQu+ylZDrEmq0jBrvCrJ0q62hyFprUIerOwQLz9gQjDCICGQOauRAwGXBjkOKVMN3UKPuKHWgbkq+2i+2/TNgu4rs2HZYASo3dqN0px9BV19nGSRQ5rcFUbW+CwG3FfmtAYza4VMh1NIGP4OpJmLRano91jd76fuITYNuoRejq/wr99QXCICvlc5kDyBt9Ps97UEUdATQUeBA2G4ZyHhCJwCPm+3Fh880qUqhDAdhX2ayjTu6FSYRyWTyvpwrGqF0SJBlWoJATzTazamY76RIa7sy9DnNGMK/JThlJr9NsL1F2vUvJYg5Ff2LJYZbZqUCzj8k6W3SEc5lcXj7LWrEb1pD+gcEwiZnT1gBkVfk6iZAdRfbUXOol8DlwO7JHmrwGmqn5oPAQlZNQ+N4jwIBHa8sXo/XBk3fO5BCQFLfO/xhbJ/uVdZQiyka060MYAJRR1CdI781iOLdvQSsCMq39qgVwUbX9ChQl+z2w90Sgi0U2U6g3u7Ptz0bcFqviVhxGl3XqQBJ1+JjnN1hdNHv3zqjENunedW1W8c44R6gflZR288QtZ3sQmtNRtSWw/qzTLbH+8rJyvpYeErHi0wiutNS+A3fFitzocl38amLHRJZzcS1ipc3EuzLLOj0BN95kXzu2X0howZqBTdmCEx++K9TA15CYHnT1R3epawi0b2eAjt2T8xD22gnmsa50TDejaZKN/wEtpZyp7I4imoSqJy+kAIfg5iPZzAyANlCEiic4lA7pdHZY3zViASKov5oIOpd8PFsldkCB1xWAlK+smNrji0x6HJvBEWNvSiq70XJLj9G1fpQta4Lo+r8KK73w+GLvMTn4N/UXWDD1sMLsHlmEWkh6qgzaR/lUJ0Dg56prW5JbA5DProWUdvqOQXY9cnuTMB5UYLt8Q3vzCTRSt7XLA1zZhq/4wLx+36VAjgHK+4ElvOVBPs/kORcdow8CSdrBfzyBjOMhv3GfxAgn3f0Rt4gqxSI0syGagahB/UTPMoa7pqUpywN+35sGV09IRi0NkwADNu9zYFy4f6jxQesFoe7nKAXdb6jTrddfKDoPUUL4MMSrPALSFsJg80E8HrqMDg9so1AtIOUg0wbvS1oNnxYwJdnQ/t0JzYcWQz2Uz1kAYsJrGXbezBxVQdG7exB/bg8rJ9bjB1TvYp+O31hRZPZAuta1JJrAwaGOERRNsUNa2bxIDNrxRNexZfSfSnB8UsTADMab0hHmCJyGWA0veJE/9RaJgO9Py/vPp6emvmbV8F8SNlIlgbbAL1wqjOzNVNDXEQN/gmiqa94OkM6A7Kl3IWPjy9VVmXnQfmoJ+vYSX4iWypeXNbTGYS3JcBtcwyhgZ3ug+UhVguFGp1BrxZNn9ikYRTK9onJGKZqMDo+od+0noC2ivRDbys2soFjS9tKln7n5DysOqGM7iGs7oUpNANyTE0MINP0G33tIYw+yIPCCicC3RHYPWnnVKbDvNDjDybb5iW49wVJzp9ut6FJnOKumMBJfO51VwaN99wEVjO+iP6xJIxiJMsyW5rOdvzjf50szGNEDZ8mkLUx3WwgisqBmI1zirCFfK9d1JB9RFXZt1RgbA4wLeUR55wrOlqifgxM1wh4IBwEmIL+xdActHif6Pgyd1doOen7dO/d7A9zYCnq7+oZBHICXcYA7IrD8rHmxWYU5znTrbW9MAHgnovbNjFB1PTqAfy/BhgDo9ORi2PAWYD+i8nWD/Jx8Xm+mIAlxFPx/RGYLHclA+e0JFbyj9RQH/a2BD9hGsd+4yfHlWL90cVYR9o2xoker12BkRtvQXNgCh3DUbCTBJCT97MHVS16zp6GquMdoro8qoVTCCszvQBHaW1ODdWz87GWwDmIbMpCk21cghhfKWNmXZkZ/GWA8y9NYHExQBviqHYNzCuWGgf5uM5McL54cJ4zQtpPQN5D1L3iv30xsZAuiTC3yd+86NGaZOCMH7H+PvmFD5Jv9njJ7t4OldaY5sXHny3Furkl5D960Ouxqsinpz1kI+DOJ0BydOxz9DkTB5aMRl95HwvnY1+FUTT/CgYzykJjahtWM/MVVDpVUbzDk/J8z4ck6EwfTdF3vD+Fa3Bw5/tIvJR6Ipkt4DSryhpspPZKk22c+tk9QAAqU2kVkJWbBNH+JffTIUDzo69iLfbThxQz2cnAyXToa9RoXiT69qCnPbiosKkXbWUuvPOlcmUpNxxVrAI9RPPgbQ06C5sCnycgMt3gz3H49Mg00WslyPE4jIT8hnROwlOWjJ7ixuTjCrHi8Xo486ypUtuFCRrSyybbR5lsezWFa9RLPOBqCdKVCNBHD3BctDDczG3pHWTHaDaca3Hc3x6Yz46QinRJh8vFMJvk/zUS7ORU1Rsmndt72W5UtqKGmOcjDYHTGUGH5RtE235KVnCzpzOk8nZLz63EumNKsOHIIpUOKWwIYPR2H1tG9ncW0GcFcsKJ9utFH4YR8U5pFjjdmNoUE+YW4KNFjWrSaS21igQzcD4D8xkG4pPr3KOnOjJktQR5Ys81Xa6faCRKYRJwDsZLvzLB9vgZ/O5A6ssxcJR3mVg//uTCi6YkwDVjI9kH5+r5fR1pNKBRvqWb/MSgrluwmRPqq+eXYi1R19op+chrD6Jsu2+KpuN8BiXpoTk8JpSvwqiy4SXJfzwgs+Va26YgKg7NU/MLte7ww104YJCUAzxmUzo+lqgPiPvbisEPgGD/aLko+6wvov8ojXCC67IMJhJvVv/KFi223pmLIK4b4DycY32e9B8wZsRIlWK7h6vx2B67dWo/cJbW+VXynUvbGia40VzhQlFjAJWbus7TLRoXJZyuD886H/zAONxeK71bgwQRGoW7d0pP1iuNICiNwCaNzir0hoMH+ULpKsS6MT2aJJ9DuZgPPykecsZpCn52SUfNB3zGSmTjZnGtbZdRkJCc2prlLJuRuFKm0wQgs5E4eZ+qfJyggTcnobCFaV7jHJiPbHky7u97k5zjGWE0LyGNVaZTeMfZB2dsaVn0Chx9bRznVtTV1RMeW7G5+zIC5cWk04bgN+jip3HPt1U+d2uIrCNS12BFsM1GONRhUcXtFsKgfQ+z0FJ8chF6C3l0pIOOD9Gnk/518XYXnbdMIpjRQvcpYokKsnyf7K99IAB9JNlb5qlMx83Jx8onranU2n4xgf+lJ/Ed4+W2LIBzEcynzIxaZV8Cq5+OJJpCJfZ58vtLVPzPBfw3DUEbHpK5E20Wk8V0OMDj7lIRVq6nvIJAmU1TXic0iP2XFdSGVtnQu8MKf0ij9mSXETlBMngawShAGGmnd8j/t9JfAXjRqh0MYxxKatEShnORvoXO2ETH5xMvaaT/N9ATtftt6NlB59nB4I1QOwrRNxFYuUefKXqsBBYmZON5C/3jTu6HidDZ0xxUw8jKDnahlYeRJaa27FMdb7L9qSS/wWw0/zHScG8cxD3xsDGeOf7kJL8xGqCKl9lpXOePCazmJ3FsJFHkmUec3GwOrbDRI3IvOLgSrSGZfNjslzAN5FWWLszSNXYajrZGqi+3onclWcKQDX6yYkECjou61FHEtcYSKBwKeAy7VuoA2dIFNAbnBLUvW022eD0SIEwFnEZNvBUerVFZ3CCBM5/6h3x9J4MTxdhIdrQNBXqN+j6fWLQT7fwi3yIgv0VgvS+ssgcaWVWd83wnwpizJpNZHm6RIMKlZl8GfbxUoBNVM73Y9XF3MmrL+T6LiSuQzAp+KHQu3t+7QWj/d5F4VEc8Hf6mWN1k9DQ6S0GtUNvYWQsWyDUHWkzpLvHfzeSBOHby+QT73biHTWjGBPN6TzcirW3QHOTVuMj+hIK0rReaN09NCJ1sNvYEfvWQg3MJzCdMSueHLqUn8DLd3Wtk7VbY0RPihs8g6UY5ga0CHdo4akXV6NYqqSWMU9tZetS70pSl5HZHYFbWNKzeqbE9ry+d5RJ/0S6fIXkBIYlCRqIQ5eP9hCemtQz8Bm0G/T+CbThF0V6X1koPo4fsdA2K9c0E0loU6lvJThOQqX+h664gq72CwPoLAitRXu0EOu+pYjGmDOI5cQ0rU2rTkRIRugM1jOzJpDMkmFFantkgWZ6VE93/TvCOrxDAPCg09ZM4X5F7xcNkn4VIrd5Wj7GcNXHPyiW+8ckJ6PYE8R/PTuSii0WNysUJ9uOOwZifVq3DSEahuUEt1ec+/Ty4TzlXLZnAPkTvu6/C98pTiHS2weItMgOodV9ZzrMHCUyudOBc2XPUiF8lMNW4qA0wnfRR+2vBVLRrE9FMbK5Vm0I7l9EbL1R+IFNVtqI2dQqO2uzibm2y0CEO2FSLlaqQKFyRRMy8MeB0xIAzWuzuk2ginVhro+vUkzKqG+lzG1nLbTCS1jWG02BXVnUXjkatNl9ZarfWpLYUEVhLsYbAukUBlbZ1UIt7rhdFz7ElJ7/1GLLiC6TRplNwcZrRkampNvZy/ntagqj8TB5KJrjQvtN0GBnf8ykm53w2hes+k+Q98zO+VXQn+ubzdct78WQQLPnYpCPjKTzXCcjeFJBOFYbyZSQvengIe89MkGgJiG+rfy0W6H4fQvX0Xs+5BPlfuxm2CmpevDxCoFfNzu468Ux4zrwYzd89B3pHm1rXZKSA84Y0Azn/oGf/JDXkl4gK1jPA2CfsIoq6VTtdQDmJ/q5Q1JWDOg76i/cjb4p9wIlEYQ+SQMxE6ZXZhxmu1Zb5HjgHWUf38BHpOqLcq2gzNSJLB3cuLdSW6rXZyuK6iRozWIv1DSjX30MJNijflaz7MgLqMrr3/6T7OZKAGq0emp7Cb+AJqt6Rz+Be1LbaicnHF+Kd/9sJT3G/pQJPRP/Z3Pn4F1O45p8GiGjG+pOVGT7jWMr3NsxL6rjDvQ4Dpz/i5Q6TDsssivx3BUyiseHGFngvuwaF1xkT7IUb6vr8TX7AtJ9j9hHwnHYBOh68B7aCftbTvi/Aybxybiohc2qAj1gRfIKsz1airIouNuJw1YibtEOJro5XVJXbfhSMZHGoIemz6SlwbS1XWRxB59kXE0nH9+oHi54Qs5komL6WLOz7pMtcaHmftm1iaswdDt/nZu0L1A3tUNS3HO+jTF9FXGAbgTiwnIC6nID6QzqGrJPOjfEsJK8nPlIAemwsQEN+XYHzg6caiYmRU7D3kg1nmZzndaSWr+O0FE9b8q1heMaxFJurzn6epfP+Fv3L9cxmSLzaAGYXAbMVBd++lYD5E4Rqd0Lvauf1GPvC4fxJQIy0dMF53Gmw/O3XytJqDudA4AwONTiPTLIf+2+PkOX7qxMdr7voGfjJbjRiBvluM4mHzEKLNlVtsxFhdVD78GK7xYgCsm+mGh2BUivF/iHF8puPNSiRenmryUIuJX2L7v9tgkot+8kcwNqGU+HVdhBAV5NT9kEsUJcSUJcGkH89tQLyT/WF4ieaLXVwhFDcuRKKRjdR27LJbpRP46kzO9Xk03HBoMFQ2qhwSuFKDH1SPRacm8TfPTrDc3LA7vsm27mDOy/m77c0m21puKURkfYeFHznRyj41o8RqtmhFrpVwOzXXZNj1rgTjjnz4D55IXr+/gis48YhZqUpx74ICJkVCa8jQD5K1uNhsh61nG9sIyOzRTsNddrxaMKhAkiDphagZizd3cmGL8RWY9jo6XDIYaJX070FNESWOdD5Kitte5f95y3aGdiC0wmotQLUleqTg0z0DJeQn72ELOr36HiypvqXTXzGo4zItuEP8pINnmI7xs3yYsuy9j3MS5iH2Ux2z6dxP90SkX82y8+Jz5uXxKrcnubvNJMvwDxvymmqX+whRVbL1cGtNWqR2pKf/Qnu0y9CuC4KzL0ibJyiOUSYh85A1MiCus+4CL5XnuYJhmNTLPsEnLHlT+8QKB8gC/gXD9lHBuBuMqy1hLfdxEpbcdAeQJKFYL/xC0ZPrs1H+qMW9kfhe5wvyo1tPXVcL+ejjkvBXg8iP7CFfO4tOI2AWodRBNAxyqKuJudqE9FO/WHywR8OwzXN8MH0c9E3989xEsE8US3Z0BPGuNn58BTZY6mtGcvhAod0p/14TgI/t2fhmXDe+r8ktRELzohJNJmH2M0e5HWuVB2Y9FSRDiN9auHAjcXarIJsFss3EQw8FdxRv9YxZSqKf/Qg0dR5CG7aTF1FMApMDX3jPc+W4CJHdK/iiG6oiazn9DlwzDgavSuXwlo6JhmtHXJw/ptAdpEFkW7yJRc7iTm0EQi3kZWs1Y4jiM4iwloAprSF2FpC4GVfaiEdcwpyi/BOFeVRKTuo43opH92LOZ1EQO3l4NhWajN52m6M1ZehkthXqb6WLeraMBx39qDsTh22z4o1XSj+Lzf2w3paQyjnWtuD3ahd2YWiKifP1mfmHiwe5G+/I8aiDVZ4TtxLJTDy9xT8sfOR3pLwUblCRXWtVuidHURV22A/5DCVHgltWYOILwiL27FE7w0sYbjknXUhCm+4F9aS0QiuWcuWlIHJ1WAXC/2NjwP0uQqhEDR3HixFo6iHDA3kcw4NOL0SKddVDjHyNy4EaKPfvE67QAU92EpyntGNFgJmywLa73wCJvtNhciJmXAk7OvUYnh2uzoC6gsE1EX095IgPJH12kJqlV9AsbZJ+aaVWIYx+gr205V/SnoD7Us9uc5J86eJ2l5tc1oajr60HM2btyLkj8Dq0HqzCM4oQDmqydU16SwvwBT87hiayp1GfKHBbpPjNksn9FSK19lkWEztn2z1wnXbqeXa4L36VuSdfzX07g4E13+IwCfL0fv2EpWzzDvvG/AsuFjlK4Nb14N8zwUC7mQDsNv2DuRrQHRCqT4xS6UMSfmedt5Ld6sfYCG/3U1WsQEzVJ6Pq3AcZD1daBtPgKReUbsMwzeDQYe81Bb0zezOGh0xztojPXVUo6MrojO7eyWwUygBmCrxqzlfOmofgJbzqc9q0J+kzm0psxCOcjNDGY0Pifp+jCp9qcqnctqGXYleeLnaZaPdga0Ot47Hr92Cxg0+znnyjBKvxZybBwKYj6tkChcMINxQryphLKUVMlmuacmRx+hYFNVLFLTZKLT7cfHR4oUrkGJHyVQnods8LvNBmJflRQM/3GH8hO4jyMUDobrdsI2fgKJbfwP3SWcgvKseejikCgrYgobra8l65kErKEZ49/Z8soAXK5prxAsGkqel0yCr6VG+aevNlyC4cbVxfkO+hf4lgodhCJYB1A5e0qU6Bq6W4UoZzkWShaQW7j9ZequFGLrVyKKDWHkWdU548zi6XQLI5iG6Zr4EqrjRHC50lBPhhyL9BPtghe/3CXreT0Zg3+gjSHJAiVMzY3TyTal9l5M1Jf9UvY+80R6s/2c3Fl2/AdbRlSBLyknPXTGdzO3i7/WlBBh/3Z0IN7dTQ7OqvF2ktRG+N1+BtdgLjcvTwknTc9wRcxFI1NmqF5CtG+Devoq+qp3nJXiTTDxCiU+LASlXJvH0L1yl1Mo0NlxfR2AJw33qWSi6+X5YyyoRqt1idDIxIwM0p5trZSv0QO/VtP0qpLcIMC+3oYbacfleqGYDWq47Bzp1Cuq8hvCQtV+buDUbsg7OWUvWR/8bpbb8cL8G8wVJM5E10ru8LwGBTQLMkSKjJWLHwRZOoRyRICKabXlFgPoc0d6GaLFGEbagWn+N/Xt0F8zA1u0V2HXfL6EvexFaUT4sxaXzyCpwQGe9eleaFuKGyvm8SGu7arO2cVVwTD8S7tMvgOvkc4lw+tD1yH3ofPBORLr8sFVVGFHISNZZ2S3CUm6B+eDkFFsntUl/D1n9FtgnTUL+5T+A54uXK4sWaaa+wtqPYfL742qgy5H+hHEdQstVj2UdPRb+N55F623/AYvHo6qHRL4U51d3y712DSE41Q1x7mtKls7N9IYrQnhk+XtCh/YnsQk94+DMPAHsUNJhmSlP5577eS4lJP9TlRGGQhZ4yjxwuwPo+Mv96HzgdkQ6uglclcVE2VrJSiDS0gg9KIA8bC4cR8yDc8axsE2ebuTudu9Qvb91bBUCy/+Fzt/fDd+rz0NzWWAtJ8YfDg/t07RYqePopN/ZSpTTa0RXY3JDe7dKqPuJdAWITubBefQpKLzh57BPmITQtq3g+41LhfC7+Q72XiY+XeGI+TN7Xn71weh86E6033sr/X+vPOdo7F0H/B4yz9smBSfP0P23DM+1W6jIqxIoWH+ABXrYh+X8Y7TYfShngNgowZKnyYquYHeDwaPl5RO4xiHw0XJ0/OIm+Je+ruLkFq8Hzjnz4DrhLDg+cxRsk6YREF2ItDWrgMhe5WnUyKwV46GRI9uz+M/o+tPP0bt2Daz5TlhGjRkESOmcET0eLHv7vESfQ7W7YKssJ6CdgMCaDxHavM4o6HeRH+zJQ6SnW9FWTYyh/ZDD4fzsaXDPPxP2abOh9/oJsPXxQ7rOFFCenMGzZprOE2D/bq+euWoSuh79Fdrv/h49r34u8YPoW87ibPSfIiVr4HSLfzeYShGmppy3ik714MenR46UgMYCJK+uylT+LYGKpwlcWxho1rETFH31vfGcqhe1VU2AY/bx5CcVGxYnFpBmwt8ROJUlqtmG7md+D//riwikH8Ni52CIW5WscVBEgVWzGCCL0t9IGBGim/wb9ACU9UUoQp1EgVEovifQSRa7YSe1ijAB7XPwXnUrdSKfRXDjGrLebyDw8XJVjROq3QZ79WRYiEpaK6thGzsZjhlzYZswhe6lXfnKnNqI6QAulcDMYJ97pwS0/pogqDUQOFm+J4G4Pw/Vi2dwsn+ZzsrGdcK5ucG8iZxA6C8HPs4aQqBGpCN8ggCzWHO52y2jyjlFQFanh6xkY2yCPTWbRw2eAW0bW0GA2Qjfa4sQeP8NFXyJdLYSFa5VFpgrZCI9ZNVcGlk2Qq/dDmtZlWq0jpnHwT5lBnrfWQL/m8+p6KnmcVA/EiHwhmCbOAneS69H3nlfJ9rNUeNditJywIUDLZH2FvIfG5TVthSXKUuscdSVfEoGf8z9lIi1uhyJR58MJMsEkAzMhqQ+zcDgHHJhcL4okbJkwk7yYrmxxZ8yC5mucKXPOeLDTBuia7QIUJlOvZxxMIJoJ6cerGUVZKWalLUKN9YhXLOZthcpOhlY/T6B8DOwjjHSoLbxh8A6qsxI0jOkCHihGgL4C4/A9+ZiBWrnEfORd+E1yn8L15n4imRZNZuD9nUq2qq+72/tZwkgv4KBV5FOwLuVi/BAIis5ksHJKYxEU1qulrD4U8hsRahPq3wORv1qomL3bAjnf7mDfV78/ZZBn0lNO+9Q1lhzecjH9Qqt1YzIaDgiPibR2q4ONQZSD0o9BFk7S2EpWc18lWvUaH8Gcpgoqc4025LWHGp2iYpehuTrtyQTzpH+H+lvMIil7UcCONm7Nlt2/Bnh0s/m8JWRvCZ6nQQvzpfPbC45x6brEtF2ud4SAWp6S7prRvCGk/psydDektoxUd7dRv1ERwv5qy4FYpWHlEhtisLjer8sz6lqkM+Djcj9AszW/bnx2MQ55ioaDuU/Ij3N6hyusipMO/8myt3wBdII52T5OoVCqc+J8bHekGAd/79jSO9SIsJ6ry+do6aKv85Rz2MzuDrn0O+DMZA8eCA0GpvQhzkCzPocjoZcOKB2rygXeiyUhjkUw+uOEb1F6C7PesjRX84/8yiWxn1w/y4JmvGACS5PzDRHyGNgORXy9IHWUBicbyIXdd1X8rboD2BM9PVl6SyHYjlEDqacir6lHdmabxSQrpT/cxUX56uzOe0GV89wNJuHiB0lncWYLJz3BQHlqwdq47Dl8DEiJBoNXyy09zyxqMcN4TW5xniW6BWyjWctaBCgsoXfKZ+N6FtByyf7GSXZRhvi+lieB4hnw+Lg4iQBJRdq8CidbM628Jj4lO8e6I0iB86RSXt/KXo4+pYanDUM13ZIIKZqhD0TtvIc4HlIrPunQnLgHNmySvQnQgkZpGcBn5rFo9YJKB+F+bjQHDhzMiLkPVEO7vAkYBzhXADzFcb2d+GcLc8H9MSn+YXnwLl/yruivN4KD/TlIM/p4qM699N72iT+JFvJDblXnAPngSCrRe+BEYzhScdOEqBOH+G/nefI4agr12ovyb3KHDgPZOHZEaLFDixc2ytzBqtcNi8Vsa8nY+NZIF4XMPJnMPfacuD8NMpa0d/L32PFR2WLyoUAEwTA3iG6Ps/ztEosO+dzuQBiXe615MCZk/5SJ/qPmG08CRqnTnhJCi4OmCwg5rwl1+1GVwV3xbUXzs1yzpPTHDxrHedCeVwwz6y3DUaulP3IptxjH5z8vwADAEseky0tOBLtAAAAAElFTkSuQmCC\" preserveAspectRatio=\"xMidYMid meet\"/><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"231\" height=\"75\" style=\"fill:none;stroke:none\"/></svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "igua",
        "x": 330,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "34e6a1f831b10d85",
        "type": "inject",
        "z": "f881aab2fefcfaf6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "f8c7fc72defb5e93"
            ]
        ]
    },
    {
        "id": "1f56fcaab5a4f478",
        "type": "debug",
        "z": "f881aab2fefcfaf6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 40,
        "wires": []
    },
    {
        "id": "f8c7fc72defb5e93",
        "type": "function",
        "z": "f881aab2fefcfaf6",
        "name": "EEE 1A - MIGUEL PEREIRA",
        "func": "var statusGerador = global.get(\"STATUS-GERADOR\");\nvar monitoramentoDeFase = global.get(\"MONITORAMENTO-DE-FASE\");\nvar horimetro = global.get(\"HORIMETRO\");\nvar diesel = global.get(\"DIESEL\")\n\nmsg.payload ={}\nmsg.payload.chatId = 1295146448 \nmsg.payload.chatId = -673176821\nmsg.payload.chatId = -1001591744073\nmsg.payload.type = \"message\"    \nmsg.payload.content = \"EEE 1A - Miguel Pereira\\n\" +\n\n\"\\nO Gerador está: \" + statusGerador +\n\"\\nAs Fases do Gerador estão: \" + monitoramentoDeFase +\n    \"\\nHorimetro: \" + horimetro.toFixed(2) + \" horas\" +\n\"\\nNível do Diesel: \" + diesel\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 40,
        "wires": [
            [
                "5595ee7f6db09e0f"
            ]
        ]
    },
    {
        "id": "5595ee7f6db09e0f",
        "type": "telegram sender",
        "z": "f881aab2fefcfaf6",
        "name": "bot",
        "bot": "b5104c50172985cd",
        "haserroroutput": false,
        "outputs": 1,
        "x": 570,
        "y": 40,
        "wires": [
            [
                "1f56fcaab5a4f478"
            ]
        ]
    }
]