flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "EEE 1A - miguel ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3107cd676cb750f8",
        "type": "tab",
        "label": "dashboard(DESENVOLVIMENTO)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "921fa2367eb264fb",
        "type": "tab",
        "label": "logo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f881aab2fefcfaf6",
        "type": "tab",
        "label": "ChatBot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da5722c94ae8843d",
        "type": "subflow",
        "name": "Tratamento ABS",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 240,
                "wires": [
                    {
                        "id": "75fdf3282cf6e474"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1420,
                "y": 60,
                "wires": [
                    {
                        "id": "8ca10b3a7face068",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1420,
                "y": 100,
                "wires": [
                    {
                        "id": "a4bddd28cb456949",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1660,
                "y": 300,
                "wires": [
                    {
                        "id": "c4d5d8da0cee0a50",
                        "port": 0
                    },
                    {
                        "id": "6eda74eb64ed5de6",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b5104c50172985cd",
        "type": "telegram bot",
        "botname": "Geradores_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "7166b7d82f90c3a1",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "PD7",
                "default": "#4B7930",
                "baseColor": "#0094ce",
                "baseFont": "Trebuchet MS,Helvetica,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094ce",
                    "value": "#0094ce",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#dedede",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "base-font": {
                    "value": "Trebuchet MS,Helvetica,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Geradores",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 46,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "73ac5ca33a2d09eb",
        "type": "ui_tab",
        "name": "Geradores Iguá",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1ae89d1b9790a8fe",
        "type": "ui_group",
        "name": "Captação Vera Cruz",
        "tab": "73ac5ca33a2d09eb",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "939772c70fa6cc49",
        "type": "ui_group",
        "name": "ETA Fragoso 1",
        "tab": "73ac5ca33a2d09eb",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a65a32413aa7fc7a",
        "type": "ui_group",
        "name": "ETA Fragoso 2",
        "tab": "73ac5ca33a2d09eb",
        "order": 5,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2fd861eeeba7ab6",
        "type": "ui_group",
        "name": "Captação Avelar - Paty",
        "tab": "73ac5ca33a2d09eb",
        "order": 6,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86c35363ddd20f85",
        "type": "ui_group",
        "name": "EEE A1 - Miguel ",
        "tab": "73ac5ca33a2d09eb",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae7c79969a498679",
        "type": "ui_group",
        "name": "EEE 1B",
        "tab": "73ac5ca33a2d09eb",
        "order": 7,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ecaac3f5a8dc2ee9",
        "type": "ui_group",
        "name": "EEE 1C",
        "tab": "73ac5ca33a2d09eb",
        "order": 8,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e74e220875cefc55",
        "type": "ui_group",
        "name": "EEE 1D",
        "tab": "73ac5ca33a2d09eb",
        "order": 9,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c1144ee7e96d106",
        "type": "ui_group",
        "name": "EEE 1E - ETE JAVARI",
        "tab": "73ac5ca33a2d09eb",
        "order": 10,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a6254e6.c472c8",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ab52afafd221cb44",
        "type": "ui_group",
        "name": "Timer",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74f3afc8.2fd5",
        "type": "ui_group",
        "name": "Timer",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false
    },
    {
        "id": "59e2ded26cd3e865",
        "type": "ui_group",
        "name": "",
        "tab": "73ac5ca33a2d09eb",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8b487500cc28f49",
        "type": "ui_spacer",
        "z": "921fa2367eb264fb",
        "name": "spacer",
        "group": "54923ca06bd9695f",
        "order": 1,
        "width": 5,
        "height": 1
    },
    {
        "id": "61e81a5d3fa13eba",
        "type": "ui_spacer",
        "z": "921fa2367eb264fb",
        "name": "spacer",
        "group": "54923ca06bd9695f",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "75fdf3282cf6e474",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "parse strint in array",
        "func": "var newMsg = { payload: msg.payload.split(\"\") };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 240,
        "wires": [
            [
                "d9f449198493df96",
                "40ec335ce1716a92",
                "c715ca0656398e5f"
            ]
        ]
    },
    {
        "id": "d9f449198493df96",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "GET data",
        "func": "var newMsg = { payload: msg.payload.slice(15,23)};\nreturn newMsg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "4ff8e78875c5e151"
            ]
        ]
    },
    {
        "id": "40ec335ce1716a92",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "GET hora",
        "func": "var newMsg = { payload: msg.payload.slice(24,29)};\nreturn newMsg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "93d5d37962b4ce61"
            ]
        ]
    },
    {
        "id": "c715ca0656398e5f",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "GET DI",
        "func": "var newMsg = { payload: msg.payload.slice(44,52)};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 280,
        "wires": [
            [
                "61a077474eb45553"
            ]
        ]
    },
    {
        "id": "93d5d37962b4ce61",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "parse array in string",
        "func": "var newMsg = { payload: msg.payload.toString(\"2\")};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 240,
        "wires": [
            [
                "a4bddd28cb456949"
            ]
        ]
    },
    {
        "id": "a4bddd28cb456949",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "HORA",
        "func": "var newMsg = { payload: msg.payload.replace(/,/g,\" \")};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4ff8e78875c5e151",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "parse array in string",
        "func": "var newMsg = { payload: msg.payload.toString(\"2\")};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "8ca10b3a7face068"
            ]
        ]
    },
    {
        "id": "8ca10b3a7face068",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "DATA",
        "func": "var newMsg = { payload: msg.payload.replace(/,/g,\" \")};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "61a077474eb45553",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "parse array in string",
        "func": "var newMsg = { payload: msg.payload.toString(\"2\")};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 280,
        "wires": [
            [
                "73974f815fb74ae9"
            ]
        ]
    },
    {
        "id": "73974f815fb74ae9",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "IOs",
        "func": "var newMsg = { payload: msg.payload.replace(/,/g,\" \")};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 280,
        "wires": [
            [
                "a381497ee18a7ee4",
                "28a0ff6b87d07ae3"
            ]
        ]
    },
    {
        "id": "a381497ee18a7ee4",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "DI 0-7 ON",
        "func": "var msgHigh = \"1\";\n\n if (msg.payload === \"1 0 0 0 0 0 0 0\") {\n   return msg ;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 280,
        "wires": [
            [
                "c4d5d8da0cee0a50"
            ]
        ]
    },
    {
        "id": "c4d5d8da0cee0a50",
        "type": "change",
        "z": "da5722c94ae8843d",
        "name": "DI0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "28a0ff6b87d07ae3",
        "type": "function",
        "z": "da5722c94ae8843d",
        "name": "DI 0-7 OFF",
        "func": "if (msg.payload === \"0 0 0 0 0 0 0 0\") {\n   return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 340,
        "wires": [
            [
                "6eda74eb64ed5de6"
            ]
        ]
    },
    {
        "id": "6eda74eb64ed5de6",
        "type": "change",
        "z": "da5722c94ae8843d",
        "name": "DI0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "30e8e1c1aba85261",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "LOOP_1s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "d831e63f7e3d02f7"
            ]
        ]
    },
    {
        "id": "d831e63f7e3d02f7",
        "type": "tcp request",
        "z": "f6f2187d.f17ca8",
        "name": "EEE 1A - miguel ",
        "server": "gprs.absltda.com.br",
        "port": "6256",
        "out": "time",
        "ret": "string",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "007d08bf598ede59",
                "cd3d23381ed6298c"
            ]
        ]
    },
    {
        "id": "ad7c3efdad8137a2",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "teste",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ABSMSGNS;16937;19/07/22;10:48:30;DI=0000000010000000;EV=0000000000000000;AI4=0;",
        "payloadType": "str",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "cd3d23381ed6298c"
            ]
        ]
    },
    {
        "id": "cd3d23381ed6298c",
        "type": "subflow:da5722c94ae8843d",
        "z": "f6f2187d.f17ca8",
        "name": "TRATAMENTO INFORMAÇÕES IOT",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "d990e07f21a92df1"
            ],
            [
                "3fefcf8ca533da2f"
            ],
            [
                "71b68d2ce85c983d",
                "df0f8ac6f9561c70",
                "62688561ec6708ad",
                "af234944760e5aa3"
            ]
        ]
    },
    {
        "id": "71b68d2ce85c983d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "3fefcf8ca533da2f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "d990e07f21a92df1",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "007d08bf598ede59",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "de751ff9a3a0cbcf",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "6faa999e38634e0c",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Set msg.topic to time create global: \"time\"",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "time",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "time",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 740,
        "wires": [
            [
                "61b9d92f9a8c5cdb"
            ]
        ]
    },
    {
        "id": "6449edb882d57c05",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "every 1 second",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "6cf8f494a3515be3"
            ]
        ]
    },
    {
        "id": "6cf8f494a3515be3",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "flow.clock_state == \"start\" ?",
        "property": "count",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 740,
        "wires": [
            [
                "82314a1af7af9253"
            ]
        ]
    },
    {
        "id": "82314a1af7af9253",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "run timer",
        "func": "let clock_value = flow.get(\"clock_value\") || 13;\n\nclock_value++; \n//if (clock_value < 0) clock_value = 0;\n\nflow.set(\"clock_value\", clock_value);\n\nlet mins = Math.floor(clock_value/60);\n\nlet secs = clock_value % 60;\n\nmsg.payload = (mins + (secs / 100.0)).toFixed(2)\n\nmsg.payload = Number(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 740,
        "wires": [
            [
                "6faa999e38634e0c",
                "f24379c80f7cf803",
                "aeafe0eeae7a8aa1"
            ]
        ]
    },
    {
        "id": "280bd73b41e7b401",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "count stop pause timer",
        "rules": [
            {
                "t": "set",
                "p": "count",
                "pt": "flow",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "13394bd6a6e34002",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "pause",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "280bd73b41e7b401"
            ]
        ]
    },
    {
        "id": "b98f449b8efb7daf",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "clock_state run // start / resume",
        "rules": [
            {
                "t": "set",
                "p": "count",
                "pt": "flow",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "e50b1fecc5cbf209",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "start / resume",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "b98f449b8efb7daf"
            ]
        ]
    },
    {
        "id": "8c447ed844810688",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "clear and count reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "count",
                "pt": "flow",
                "to": "stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "clock_value",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 940,
        "wires": [
            [
                "f24379c80f7cf803",
                "aeafe0eeae7a8aa1"
            ]
        ]
    },
    {
        "id": "d570863a4c77cd03",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "reset count value",
        "rules": [
            {
                "t": "set",
                "p": "clock_value",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "5126ae27b0efce7c",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "reset count value",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "d570863a4c77cd03"
            ]
        ]
    },
    {
        "id": "39cdb7bb7c79f894",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": " stop and count reset ",
        "rules": [
            {
                "t": "set",
                "p": "clock_value",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "count",
                "pt": "flow",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "5741efcdc5aee825",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "0 and stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 900,
        "wires": [
            [
                "39cdb7bb7c79f894"
            ]
        ]
    },
    {
        "id": "e8f60d7f25098be8",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "hard reset",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 940,
        "wires": [
            [
                "8c447ed844810688"
            ]
        ]
    },
    {
        "id": "f24379c80f7cf803",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 940,
        "wires": []
    },
    {
        "id": "dd503e14587a03b0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 780,
        "wires": []
    },
    {
        "id": "df0f8ac6f9561c70",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 580,
        "wires": [
            [
                "b98f449b8efb7daf"
            ],
            [
                "280bd73b41e7b401"
            ]
        ]
    },
    {
        "id": "aeafe0eeae7a8aa1",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "calculo de nivel",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0.01",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "120.01",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "240.01",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "360.01",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "480.01",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 800,
        "y": 1100,
        "wires": [
            [
                "5f6ed0caa57cd7ed"
            ],
            [
                "4801225d8e050d27"
            ],
            [
                "f7289c4a4ce42bd8"
            ],
            [
                "9f3a09476184fb3b"
            ],
            [
                "15b4a7e154c3b5c4"
            ]
        ]
    },
    {
        "id": "0abc51884b23749d",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "calculo aqui",
        "info": "total 50L\n6L/h\n\ntempo total ligado 8.3 horas\n\n0 --> 0L 8HORAS\n1/4 --> 12.5L --> (14L)6HORAS \n1/2 --> 25L --> (26L)4HORAS\n3/4 --> 37.5L --> (38L)2HORAS\nfull --> 50L\n",
        "x": 790,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5f6ed0caa57cd7ed",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "full",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0.01",
                "fromt": "num",
                "to": "FULL",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1040,
        "wires": [
            [
                "f7789df387a0bbbb",
                "04d0db3cf673ae93"
            ]
        ]
    },
    {
        "id": "4801225d8e050d27",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "3/4",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "120.01",
                "fromt": "num",
                "to": "3/4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1080,
        "wires": [
            [
                "f7789df387a0bbbb",
                "04d0db3cf673ae93"
            ]
        ]
    },
    {
        "id": "f7289c4a4ce42bd8",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "1/2",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "240.01",
                "fromt": "num",
                "to": "1/2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1120,
        "wires": [
            [
                "f7789df387a0bbbb",
                "04d0db3cf673ae93"
            ]
        ]
    },
    {
        "id": "9f3a09476184fb3b",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "1/4",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "360.01",
                "fromt": "num",
                "to": "1/4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1160,
        "wires": [
            [
                "f7789df387a0bbbb",
                "04d0db3cf673ae93"
            ]
        ]
    },
    {
        "id": "15b4a7e154c3b5c4",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "0",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "480.01",
                "fromt": "num",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1200,
        "wires": [
            [
                "f7789df387a0bbbb",
                "04d0db3cf673ae93"
            ]
        ]
    },
    {
        "id": "62688561ec6708ad",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "separador",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "1aa24dd4d8cb8ab7"
            ],
            [
                "0a57327666a7b828"
            ]
        ]
    },
    {
        "id": "1aa24dd4d8cb8ab7",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "inverte 0 -> 1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "de751ff9a3a0cbcf",
                "a9f7f9237e9c7c97"
            ]
        ]
    },
    {
        "id": "0a57327666a7b828",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "inverte 1 -> 0",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 520,
        "wires": [
            [
                "de751ff9a3a0cbcf",
                "593a70c238c89d85"
            ]
        ]
    },
    {
        "id": "0d7a75f82668b349",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.01",
        "payloadType": "num",
        "x": 1030,
        "y": 920,
        "wires": [
            [
                "5f6ed0caa57cd7ed"
            ]
        ]
    },
    {
        "id": "335d4fecedac7a27",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "240.01",
        "payloadType": "num",
        "x": 1130,
        "y": 980,
        "wires": [
            [
                "f7289c4a4ce42bd8"
            ]
        ]
    },
    {
        "id": "af234944760e5aa3",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "separador",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 380,
        "wires": [
            [
                "77174a7989419f40"
            ],
            [
                "1890a25f365fc2d3"
            ]
        ]
    },
    {
        "id": "77174a7989419f40",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "inverte 0 -> OFF",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 360,
        "wires": [
            [
                "8dbc7cedb5a07667",
                "e8e404268645a925"
            ]
        ]
    },
    {
        "id": "1890a25f365fc2d3",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "inverte 1 -> ON",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "8dbc7cedb5a07667",
                "e8e404268645a925"
            ]
        ]
    },
    {
        "id": "593a70c238c89d85",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "inverte 0 -> OFF",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 460,
        "wires": [
            [
                "64cc4ee349527784",
                "f60de5746764b07d"
            ]
        ]
    },
    {
        "id": "a9f7f9237e9c7c97",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "inverte 1 -> ON",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 500,
        "wires": [
            [
                "64cc4ee349527784",
                "f60de5746764b07d"
            ]
        ]
    },
    {
        "id": "e8e404268645a925",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "SET STATUS-GERADOR",
        "func": "global.set(\"STATUS-GERADOR\", msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f60de5746764b07d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "SET MONITORAMENTO-DE-FASE",
        "func": "global.set(\"MONITORAMENTO-DE-FASE\", msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8bcba219fee05ed3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "SET HORIMETRO",
        "func": "global.set(\"HORIMETRO\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 600,
        "wires": [
            [
                "74676b77fb48b622"
            ]
        ]
    },
    {
        "id": "04d0db3cf673ae93",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "SET DIESEL",
        "func": "global.set(\"DIESEL\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1080,
        "wires": [
            [
                "8170b794620fbb5d"
            ]
        ]
    },
    {
        "id": "9866cc1d8d025297",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 990,
        "y": 320,
        "wires": [
            [
                "64cc4ee349527784",
                "f60de5746764b07d"
            ]
        ]
    },
    {
        "id": "8170b794620fbb5d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 1100,
        "wires": []
    },
    {
        "id": "74676b77fb48b622",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 700,
        "wires": []
    },
    {
        "id": "83f2c75c3af5b2cd",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 970,
        "y": 280,
        "wires": [
            [
                "8dbc7cedb5a07667",
                "e8e404268645a925"
            ]
        ]
    },
    {
        "id": "61b9d92f9a8c5cdb",
        "type": "calculator",
        "z": "f6f2187d.f17ca8",
        "name": "soma hora acumulada",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "sum",
        "constant": "780",
        "round": false,
        "decimals": 0,
        "x": 1360,
        "y": 740,
        "wires": [
            [
                "281071fcf8212415"
            ]
        ]
    },
    {
        "id": "8ca55dde0ef29ca4",
        "type": "ui_digital_display",
        "z": "f6f2187d.f17ca8",
        "name": "horimetro",
        "group": "86c35363ddd20f85",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 1640,
        "y": 680,
        "wires": []
    },
    {
        "id": "a74700b84646720f",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "86c35363ddd20f85",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1640,
        "y": 640,
        "wires": []
    },
    {
        "id": "8dbc7cedb5a07667",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "86c35363ddd20f85",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1270,
        "y": 380,
        "wires": []
    },
    {
        "id": "64cc4ee349527784",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "86c35363ddd20f85",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1190,
        "y": 500,
        "wires": []
    },
    {
        "id": "f7789df387a0bbbb",
        "type": "ui_multistate_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "86c35363ddd20f85",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "1/4",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "1/2",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "3/4",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "FULL",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 1250,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "281071fcf8212415",
        "type": "calculator",
        "z": "f6f2187d.f17ca8",
        "name": "divide 60",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "60",
        "round": false,
        "decimals": 0,
        "x": 1500,
        "y": 780,
        "wires": [
            [
                "8bcba219fee05ed3",
                "8ca55dde0ef29ca4",
                "dd503e14587a03b0"
            ]
        ]
    },
    {
        "id": "7b68d748764a3395",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "conexão",
        "info": "gprs.absltda.com.br\n6256",
        "x": 340,
        "y": 20,
        "wires": []
    },
    {
        "id": "6c7045ff9a01ea30",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "Captação Vera Cruz",
        "info": "",
        "x": 530,
        "y": 20,
        "wires": []
    },
    {
        "id": "8b71121d4bac1eed",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "ETA Fragoso 1",
        "info": "",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "12a23bd08cdd3650",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "ETA Fragoso 2",
        "info": "",
        "x": 420,
        "y": 540,
        "wires": []
    },
    {
        "id": "1dd8d17626bcc68e",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "Captação Avelar",
        "info": "",
        "x": 420,
        "y": 800,
        "wires": []
    },
    {
        "id": "2a98fc7ab8ae4e9b",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "EEE 1B",
        "info": "",
        "x": 390,
        "y": 1080,
        "wires": []
    },
    {
        "id": "cc86eb6869b6c52e",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "EEE 1C",
        "info": "",
        "x": 410,
        "y": 1340,
        "wires": []
    },
    {
        "id": "c7ddb2b837cc5f48",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "EEE 1D",
        "info": "",
        "x": 450,
        "y": 1600,
        "wires": []
    },
    {
        "id": "9fcc877bd4224d9c",
        "type": "comment",
        "z": "3107cd676cb750f8",
        "name": "EEE 1E - ETE JAVARI",
        "info": "",
        "x": 500,
        "y": 1900,
        "wires": []
    },
    {
        "id": "69241b0187adb45c",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "1ae89d1b9790a8fe",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "dbc2a1fc61ebc4c2",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "939772c70fa6cc49",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 240,
        "y": 460,
        "wires": []
    },
    {
        "id": "a1ece11443769fa6",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "a65a32413aa7fc7a",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 220,
        "y": 700,
        "wires": []
    },
    {
        "id": "dac9383fb9642db6",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "b2fd861eeeba7ab6",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 220,
        "y": 980,
        "wires": []
    },
    {
        "id": "1bec88412e3ab621",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "ae7c79969a498679",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 220,
        "y": 1240,
        "wires": []
    },
    {
        "id": "11e86f71f59ae26f",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "ecaac3f5a8dc2ee9",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 200,
        "y": 1500,
        "wires": []
    },
    {
        "id": "dd1edfd95f9b6a49",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "e74e220875cefc55",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 200,
        "y": 1760,
        "wires": []
    },
    {
        "id": "d177752c56c138fd",
        "type": "ui_digital_display",
        "z": "3107cd676cb750f8",
        "name": "horimetro",
        "group": "6c1144ee7e96d106",
        "order": 4,
        "width": 3,
        "height": 1,
        "digits": 5,
        "decimals": "2",
        "x": 180,
        "y": 2080,
        "wires": []
    },
    {
        "id": "a95aced30aa10a44",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "1ae89d1b9790a8fe",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 340,
        "y": 140,
        "wires": []
    },
    {
        "id": "3d0310e6e4ea5628",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "939772c70fa6cc49",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 240,
        "y": 420,
        "wires": []
    },
    {
        "id": "948e3e7932296ff4",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "a65a32413aa7fc7a",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 220,
        "y": 660,
        "wires": []
    },
    {
        "id": "55e244858cdc4671",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "b2fd861eeeba7ab6",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 220,
        "y": 940,
        "wires": []
    },
    {
        "id": "cc4d5a933c56f3e1",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "ae7c79969a498679",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 220,
        "y": 1200,
        "wires": []
    },
    {
        "id": "64d2d021c40e69a6",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "ecaac3f5a8dc2ee9",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 200,
        "y": 1460,
        "wires": []
    },
    {
        "id": "ac2b29e568aae334",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "e74e220875cefc55",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 200,
        "y": 1720,
        "wires": []
    },
    {
        "id": "5426b59ab5ae3173",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "6c1144ee7e96d106",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Horimetro",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 180,
        "y": 2040,
        "wires": []
    },
    {
        "id": "2820576da39ec239",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "1ae89d1b9790a8fe",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "5e28ece990c25811",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "1ae89d1b9790a8fe",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "717339aab2019922",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "939772c70fa6cc49",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 340,
        "wires": []
    },
    {
        "id": "05c31e38ee4e01dc",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "939772c70fa6cc49",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 290,
        "y": 380,
        "wires": []
    },
    {
        "id": "01b348160bfa9d4a",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "a65a32413aa7fc7a",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 250,
        "y": 580,
        "wires": []
    },
    {
        "id": "53ead7b96b084f7e",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "a65a32413aa7fc7a",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 620,
        "wires": []
    },
    {
        "id": "81092f5988cddd08",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "b2fd861eeeba7ab6",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 250,
        "y": 860,
        "wires": []
    },
    {
        "id": "872fb15f3771830a",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "b2fd861eeeba7ab6",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 900,
        "wires": []
    },
    {
        "id": "cfc2049c99ef4ef5",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "ae7c79969a498679",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 250,
        "y": 1120,
        "wires": []
    },
    {
        "id": "489afb7ac56961dd",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "ae7c79969a498679",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 1160,
        "wires": []
    },
    {
        "id": "0022e5491c8be9fd",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "ecaac3f5a8dc2ee9",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 230,
        "y": 1380,
        "wires": []
    },
    {
        "id": "24f0b50e10821a5a",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "ecaac3f5a8dc2ee9",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 250,
        "y": 1420,
        "wires": []
    },
    {
        "id": "2774fbd669a66e58",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "e74e220875cefc55",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 230,
        "y": 1640,
        "wires": []
    },
    {
        "id": "42ccb69470fd5d66",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "e74e220875cefc55",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 250,
        "y": 1680,
        "wires": []
    },
    {
        "id": "6d79f1bdbf578bde",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "6c1144ee7e96d106",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status do Gerador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 210,
        "y": 1960,
        "wires": []
    },
    {
        "id": "f37d11eb1fd60a88",
        "type": "ui_text",
        "z": "3107cd676cb750f8",
        "group": "6c1144ee7e96d106",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Monitoramento de Fase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 230,
        "y": 2000,
        "wires": []
    },
    {
        "id": "86ae96e644787c82",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "1ae89d1b9790a8fe",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 330,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "983915a625bbf840",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "939772c70fa6cc49",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 230,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "785672eaa549e5f1",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "a65a32413aa7fc7a",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 210,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "82b75de4f27d3f8d",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "b2fd861eeeba7ab6",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 210,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "1721ccaefe9ca17f",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "ae7c79969a498679",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 210,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "48205c0dd5392695",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "ecaac3f5a8dc2ee9",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 190,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "907ee8ad9459a970",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "e74e220875cefc55",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 190,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "72162ba28eba03a3",
        "type": "ui_multistate_switch",
        "z": "3107cd676cb750f8",
        "name": "",
        "group": "6c1144ee7e96d106",
        "order": 5,
        "width": 5,
        "height": 1,
        "label": "Diesel",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "0",
                "value": "0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "1/4",
                "value": "14",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "1/2",
                "value": "26",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "3/4",
                "value": "38",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "full",
                "value": "50",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "x": 170,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "03e1a20c24d1a3f4",
        "type": "ui_svg_graphics",
        "z": "921fa2367eb264fb",
        "group": "59e2ded26cd3e865",
        "order": 1,
        "width": 5,
        "height": 3,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"200px\" height=\"200px\" viewBox=\"0 0 200 200\" preserveAspectRatio=\"xMidYMid meet\"><image id=\"svgEditorBackgroundImage\" x=\"0\" y=\"0\" width=\"200\" height=\"200\" xlink:href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAM3RFWHRDb21tZW50AHhyOmQ6REFGSERXSXR0YUk6NCxqOjMxMjI3NTk1MzgyLHQ6MjIwNzIxMTO89JSAAABL8UlEQVR4nOydeXxU1dn4v/fOPpnsCwlJyAqEJYQ1yI4ostUVBbVF1Bf9UWttsa9WrbXta/W1Wmut2rpUa+2rVC3UigIiKrLvEAQSlgBZyL7OZPa59/7+iHPJZCYrS207389nIHPn3HPPvfc85zznOc9zjqAoikKYMGFCIv6zCxAmzDeZsICECdMNYQEJE6YbwgISJkw3hAUkTJhuCAtImDDdEBaQMGG6ISwgYcJ0g7bzAVmWcblcuN1uZFlWjyuKgiAI6ndBENTvoiiq3wVBQBRF9aPRaNTfw4T5VyNAQHw+Hxs2bOD1119nx44dNDc3I0kScE5A/JVep9Oh1+sxGAwYjUaMRiNms5mIiAiio6OJiYkhOjqa2NhYYmNjiYuLIyoqipiYGOLi4tTjJpMpLDxhvrEIHV1NKioquO2229i2bRs+n6/3mXxdwTt7rXTsYSIiIlRBGTBgAAMGDCApKYnU1FRSU1NJT08nPT2dhIQEdDrdhbi3MGHOm4AepKKiggMHDuDz+YIqe3d0ldZ/XJZlrFYrVquVsrIy4JyKFhkZSWJiIgMGDCAlJYVBgwYxdOhQRowYwbBhw4iJiUEQhCAVL0yYS0GAgLjdbux2e5+Eo7d0ztP/vbW1ldbWVk6ePIkgCBiNRmJjY0lKSiI5OZn8/HwmT55MYWEhKSkpF7xcYcJ0R4CKtWXLFubOnYvT6bwoQtLrQnVSzaKjo0lKSmLChAnMnz+fKVOmEBsbG+5Rwlx0AgRk165dLFiwgKampn+qgHTGr44ZDAZMJhODBg3iW9/6FrfccgtDhgxBo9GEhSXMRSFAQA4ePMh1111HeXn5N0pAOtLRnGwwGJg9ezY/+MEPmDp1anhwH+aCEzBRaDQaiYiI+GeVpVcoioIsy8iyjNPpZM2aNcyePZtp06axZs0a7Hb7P7uIYf6NCBAQs9lMdHR0n3uPjq36hfj0BkVR1I8sy+zZs4frr7+eJ598EqvV2qfyhwnTFQFWLL+A+M2qfSE+Pp4hQ4b0uyCKomCz2SgvL8dms/X6+h3TKYrCCy+8wJAhQ7jtttvC45Iw502AgJhMJqKiovqciSAIjBs3jueee67fYxdFUaiuruaVV15h7dq1OByOPp8vCAIej4ePP/6YpUuX9qscYcJ0JEBAjEYj8fHx6HQ6PB5PnzKKiIggLy/vvAozfPhwSktL2bFjR79Mzf704cF6mAtFgIBoNBpSUlKIiIjA6/X2azb9fNQan89HXV0dDoejXz2R37J19dVX97sMYcJ0JMibNzU1lcjISJqbm/uUUUVFxXkXpri4mB07dvRrkO0f4E+YMIF58+Z1ma4nwQsl4KHO6W26nuhrPuFx1aUlSEAyMjL6PFBXFIWjR4+yceNGrrjiil69xM5pPB4Pn376Kbt27Qpws+8LgiDw4IMPdjmOqqur45VXXuHo0aMB1xAEgZiYGGbMmMFVV11FfHw8AJIk8fLLL7N161Y1vd8dJjs7mzlz5lBQUIDRaATgoYceoqysrNfPLSkpiRUrVpCdnQ1AS0sLb7/9Nlu3blUtdJ3vr6CggBUrVqjXPF/cbjcbN26kuLiY5cuXY7FYLki+fcFut3Pw4EGMRiPjxo275NfvjiABGTRoENHR0X3OyOl0snTpUn75y18yY8aMLtP5B9MxMTHExsYiiu2W5iNHjrB+/XpaWlr6bWa++uqrufzyy7tslX/729/y+uuv09raGnANvxv/e++9xw033MAjjzxCdnY2q1ev5he/+AVWqzVAhRQEAa1Wy8svv8ytt97Kgw8+SGJiIps3b+bgwYO9EnBBEIiIiCAhIYHHHnsMQRBobGxk7969bN++HUEQcDqdtLa2kpSUhCiK6HQ6Bg4ciFYb9Nr6jdPpZOvWrZw4cYI777zzguXbF8rLy3nmmWeYPn36N19A0tLSiIuL63MPIggCNTU13HXXXeqxjvgr7fz58/nf//1fUlJSVOFwu918+eWXbNmypV/CAaDX6/n1r3/dbeUpLi6mubkZr9cb8neXy8Ubb7xBcnIy999/P0VFRbS2toYcjwmCgN1u57e//S3Nzc08++yzAHi9XmRZ7pUqZzKZGDZsmHosJyeHP/3pT+r3v/3tbyxdupTt27eTmpp6UdQrRVHw+Xxq3M8/A0mSsNvtfTYMXQqCapPRaCQnJ4eIiAhsNluvM/ILSVcVQ6PRsHjxYn7zm9+QkJAQEENy+PBhVq1ahdvt7pceL4oi3/ve98jOzu6xEnV0m7dYLOrfHo8Ht9uNIAi88cYbzJs3T+0JFEVBFEUMBgM6nQ5ZlnG73fh8PmRZ5s0332Ty5MnMnDmToqIiPB5PjyEAfnXpuuuu63fF9/l8OJ1OvF4vgiCg1+sxm81B+XVOZzQaMZlMQfn5K6rX61Xv12AwhLy21+vF5XIhSRJarRaTyYRGowlK539W/ghVvV7fZdpQuN1unE4nsiyj1WoxGo3o9fou0/qvo9PpMBgMaoMpyzJerxedTqc2zJ3LGer3IAERBIHhw4djsVhoa2u7IHEhoigyYsQI7r///gDhAGhra+Pzzz9n165dvb5Ox7IKgkB2djb33HNPnyqaKIo89thjJCYm4nK52LhxI2vWrMHj8VBbW8uOHTsC5mLMZjOLFi1i+vTp1NfXs2HDBnbs2KG6trz00kt88sknNDY2cuTIkYCyyLJMc3MztbW1WK1WZFnGaDTy8MMP99sk3drayrZt2/joo484ceIEWq2W0aNHs2jRIkaOHKnma7Va2b17N2vWrKGkpAS9Xs/UqVO54YYbyMnJUfNzOBxs376d7du3U1JSQkREBDNmzGDOnDlkZmYG3EttbS1ffvkln332GXV1daSnp7NgwQImTZpETEyMmtbtdnP8+HHWrVvH9u3bcTgc5OTkcP311zNp0iQiIyO7vD9JkigvL2ft2rV8+umn2Gw20tLSmD9/PjNnziQpKUl9xv60n3zyCZs2bcLpdJKTk8OcOXMoLCwkNjaWs2fP8vnnnzNlyhSys7MDhEBRFE6fPs2WLVuYP38+SUlJ6m8h9ZH8/HwiIyOpqanp42sLxq9K3HbbbQwePDio4hw7doy33367z0FafkwmE9///vf7HCsiiiLXXnstubm5CIJARkYGRUVFnDx5EkVROH78eEBLpdfrmTx5sjoBOXfuXH70ox+xceNG1UghyzKvvPJKUDRmaWkpL7zwAh988AE2mw1BEJg7dy5XXnllv3oPq9XKX/7yF1577TWMRiOJiYlIksTatWtZtWoVr776KjNnzsRqtbJy5UpefvllRFEkOTkZt9vNH//4R1avXs0LL7zA4MGDgXZH1Z/+9KdoNBoSEhJoaWnh8ccfZ/369fz6178mJycHRVGorKzkN7/5DR9//DGJiYlYLBb27NnDBx98wPLly1mxYgURERF4PB62bdvGU089RVlZGRkZGeh0Ovbv38+aNWv4wQ9+wD333NOl79/Bgwf5yU9+QmlpKZmZmVgsFkpLS3nssceYPXs2//3f/01mZiaKorB3714effRRTp8+TVpaGnq9ns2bN7Nu3Tq+853vsGzZMhobG3nllVew2+3ccccdAT2oy+Xik08+4eWXX2bKlCk9C8iQIUNISEigtLT0guimhYWFzJw5M8hCYrfb+fDDDzl8+HCf8/T3HjNnzuTqq68OqTL0BYvFEtD62e32oK68owAPHTpUbYkkScLj8WC1WklKSgroFZqamvjzn//MO++8ow72ExISePTRR3utZnSmqKiIVatWcdlll/Hd736X3NxcZFnmwIEDPPzwwzz99NMUFhayf/9+3nrrLQoKCli+fDkjRoxQx3vPP/88H330EStWrADaVcwxY8Zw1113kZeXh91u55NPPuGZZ57hZz/7GW+++SYul4t//OMfbNy4kdtvv50bbriBpKQkKisrefvtt3nuuefIy8tj4cKFVFVV8Yc//AGn08njjz/OzJkzMZvNlJaW8uabb/Lkk0+qvUnnZ9zU1MRzzz1HfX09jzzyCAsWLCAyMpLKykreffddVq9ezV//+lfuu+8+rFYrTz/9NC0tLfz0pz/lyiuvxGQycerUKd555x1Wr15NUlIS1113HSkpKRQVFeF0OgPqi9Vq5ejRo6SmphIbGxtQnpACEhMTw/Dhwzlw4AAul6vf7iN+a9XVV18d5Kflb6X/8pe/9GpQG4q0tDTuvPNOBg4c2O/yQbuOXlNTQ11dnfpb5wcV6tzOcSidrVeyLLNz504+/vhjWltb1fNuvvlmRo8e3a8yK4pCRUUFTqeTa6+9loKCArUM06ZNY8mSJTz99NOcOXOGw4cPoygKd955JxMnTlRDnBcuXEhaWhpms1nNNy8vj3vuuYfCwkKg3bdu2bJlnD17lmeffZba2lp8Ph+bNm1iwoQJLF++nLi4OADi4uIYNGgQW7Zs4fXXX+f666+ntLSUI0eOcP/993PDDTeoY4GCggIeffRRtm7dqqbtTFFREYcPH+a73/0ut956K3q9HkEQyM3NZdmyZdTV1bFr1y4qKyspLi6mpKSEhx9+mMWLF6vXGTduHHFxcdTU1LBt2zbmzZvH4MGDVVXPX3ZoV1dLSkrIzc0NmiIIuS6WIAhMmTLlgtjaCwsLmTVrVlBX6vP5eOONN9QY9b7gH5AuXLiQKVOmdDlo6w5Zlnn++ef52c9+xqOPPsrLL79MVVUVcG7M1J98O1JbW8v69es5fvy4eiwjI4O77rqr3wNzRVFwuVwYDIYAI4OftLQ0vF4vtbW1NDY2kpiYSFpaWlC6iRMnkp+fr35PSkpSjRwdP5dddhlOp5O6ujrcbjctLS1kZGSolk7/JyYmhmHDhlFWVoYkSdTX12MymRg+fHiQZTEuLo7Ro0dz+vRp9Z46Ul1djSRJTJgwQRUOaH/v8fHxjBw5kpaWFpqbm6msrESr1TJ+/Hh0Ol1AmZKSkhg5ciQNDQ20trYycuRI6urqqKurU6+pKArNzc1UV1eTm5sbNCbs0iY6ZcoUIiIiaGlp6dWL64y/gHPmzGHo0KFBvxcVFfHuu++GfEC9YcKECSxcuJDExMR+lc9vfRIEAVmW8Xg86tghLy+P8ePHn5d3gF/l+fjjj1XzpSAI3H777QGD4/7Q0RLW+dnZ7XbVAiXLsro+WU/4l3PqjL/C+Ht5RVG6NKXr9XokSUJRFCRJQhTFLtMaDIYuV87x+XzquZ0F2z8f5L+Gz+dDp9OFLLtGo0Gv16vxQ37jRVFREaNGjUKr1eL1ejl16hSCIJCXlxd0vS4FJDMzk7y8PFWa+4ogCIwZM4YFCxaE7ImeeOKJPruz+PNNSkpi8eLFjBs3rlcvvzP+StXW1qbm6ScqKoply5YxdOjQ85p3qKmpYc2aNZSXl6vXGDFiBNddd915j5egfWBZWloaMK5zOp28+uqrxMbGkp6eft7X6CsXOgr1Qs/7DB48mKSkJHbu3Mmtt96KVqvF5XJx6NAhEhISQjbkXQqITqdjzpw5bNq0qc/xIYIgMGDAAObPnx+ytfzss89Yt25dSHeKnvLVarXMnTuXG2+8sd8qYMcuuyOJiYn88Ic/5Dvf+U63JsiekGWZo0ePsmrVqgAXlTvuuKNXczW9obi4mBUrVgS00Iqi4PF4+NWvfhUwvgjTjtlsZtiwYezevRufz4fBYMDhcHDw4EHS0tLIyMgIOqdLAVEUhWuuuYZHHnmkzwXxt5aLFi0KauElSeKxxx7rcja7J/Lz87n99tsZMGBAv873I4oiP/3pT0lMTEQQBOLi4igsLCQzM7NfAWMdaWho4K233qKxsVGdmJw4cSKzZs26YL5OOTk5zJ07N6CnEEWRwsJCxo4d26/e+d8df9zS+++/T11dHVlZWTidTs6cOcO0adNCzkl1KSCCIDBkyBAmTJjAzp07gd51of7eY/HixQGTOf7z33vvPYqKivrVeyQmJnLLLbcwc+bMXp/XFaIocuutt6rzIH3BP1lWV1enqp/+JYpkWebw4cOsXr1aTW80GrnlllvUOYcLQVRUFPPnz2fatGkBx7+pi21cDPr63hRFYcyYMej1erZv3056ejonTpzA4/EEWAM70qMCf9ttt/WpEBqNhvz8fG688cagCzY0NPDSSy/hcrn6lKffPWLOnDksW7asT+deKCRJoqqqisOHD7Nz506eeeYZPv/8c7WHGDp0KAkJCTgcDl588UU14EsQBKZPn860adMumNrTXcXoqD6KoqjG7F9K/KqwLMtdDsTdbneXA3itVquqi50F3p9nx8XRJUkKeY/+tB2NGkOHDiUxMZEvv/xSnWSMjY1l5MiRIcvSrYAoisK1116run/3hCAIWCwWlixZEjDpBu0VbOXKlZSUlPRp3sP/ogsKCvjRj34UlO+lwmaz8eyzz3LFFVcwb948XnzxRZqamoB2683tt9+OVqvF4XDw+eefq+fFxcWxYMGC84629ONvLCRJChlYVldXR1VVFTqdjvj4eBoaGqioqAioQLIss2/fPo4ePXpBytQZjUZDYmIiHo+H4uLiICfEuro6Dh48qPbenQV+4MCBCILAvn37gs5taGjgq6++UhdGHzBgAG63m5KSkgBhVBSFhoYGTpw4EXC+0Whk9OjR7NixA7fbzZ49e8jIyCA1NTXkvXTrN+1Xl6655hrVy7Snim0wGJg6dWrQWrqnT59m1apV6oRZXxgwYAAPPPAABQUFfT7Xj1/Qetst+ycC/fgXlejswGkwGJg3bx633HKLutVDcnIyNpsNjUbD5MmTmTVrVpdOf/25j7S0NHQ6HR9//DHx8fGkpaUhyzIVFRWsXLmShIQEHnzwQUaNGsXbb7/Nm2++iSiKZGZm4vP5KCoq4sknn2TevHn88Ic/vCDl8pcN2gUkJyeH4cOHs3LlSmJiYtS4merqat577z1OnTrFQw89pJ7nn9+RJIlRo0YxduxYXn/9dSwWCxMnTsRkMtHY2MjatWvZunUrN998M2lpaRiNRnJzc3nhhRfQaDSMGTMGg8FATU0NH3zwAevXrw+oN4IgMGnSJN5//30OHjxISUkJ3/72t7vuzXpz00uWLGHlypU4nc5ePajO3arX6+Vvf/sbxcXFqp28NwhCewjtfffdd0HCaAcPHozJZFLNuz3hnyzsbFDwt3rJycnMnTuX++67j5SUFARBIDo6mgcffJA//OEP1NfXM2fOnH6PPTpOknUu14IFC/jzn//MkSNHyMzMRJIkTp06RX19Pffddx+iKDJq1CiWLl3Ka6+9xsMPP0xWVhYej4d9+/aRlZXFnDlzEARBnVfoqgxwzqO5u7QdG4GBAwfy3e9+l6effprHH39cffbl5eWcPXuW++67jwULFgAQGRlJSkoKmzZtYtSoUcyaNYt77rlHdXMZPXo0FouF2tpazpw5w7x581i4cCFms5lBgwZxzz338PTTT/Pwww8zduxYzGYzFRUVnDx5MuRk6uTJk9Hr9fzyl7/EZrOp3gOh0Pz85z//ebdviXbXk127dqkzn13hL0hycjKTJk1Svx86dIiXXnqJY8eO9Uk4AJYtW8ZDDz10QfT31NRUIiIiyMjIID8/X/Xx6Yrk5GT15eXn5zNq1CgKCgoYN24cc+fOZcmSJSxZsoTc3Fy1t9FoNAwdOpS8vDzGjh3L7Nmze62idsZsNhMTE8O0adMCTNpms5msrCxSU1PxeDzqZO6oUaO46667uO6669R9W7Kzs8nNzUVRFFpaWjAYDMydO5e7776biRMnIooiFouFQYMGBXgBwzlH06ioKKZPn67u7TJs2LAAD19/2sjISNLT05k4cSIajYbk5GRGjBihhk54PB6GDBnC0qVLWbJkiepdYTAYiImJoaysDJ1OR35+PoMHD2b48OEkJSXR3NyMw+EgLS2NxYsXs3jxYrKystRrZ2VlkZeXh8FgoKKigoaGBgYOHMgNN9xAXFwcDQ0NzJ49W7V8RkdHY7FY2LBhAwaDgYceeqhL62LA0qNd4fV6ee+997jjjjt69Lr1d6/33nsvN998M5GRkTzzzDM899xzvY4W9LfQc+bM4fe//33QyzgfGhsb1RXsU1NTe4zOa2trC1qrWKPREBERQWRkZJfnS5KE1+tFr9f3azKz4/UjIiJC9iQej0etPKIoqhsXhSpLa2srVqsVjUZDfHx8QIPjd7Y0Go0hr9PW1qbGmfiDx0KpjLIs43A4AiqboijY7XZ1MyaLxUJcXFzQM3G5XNTU1KDVaklOTlafq8vloqGhAY/HQ0REBHFxcSHNsYqi0NraSmNjI16vl8jISERR5He/+x3Hjx/nqaeeCujJ7XY7s2fPJiEhgb///e9dOo72SkAUReHUqVMsWbKEnTt39riogP8lTJkyhfHjx7NmzZpex5r7hSM/P5833niDMWPGXPAZ1TD/XvjXVPNvnQHtVrI1a9bwxBNPMHfuXB599FFVcBVF4dixY0ydOpUHHniAH//4x13m3SsBgfaAmjfffJPvf//7vZrD8Ou2BoMBt9vd62WEBEEgJSWFP/7xj1x55ZXhNa7C9Eh1dTXf/va3KS8vZ+zYseh0Ok6ePMmpU6coLCzkySefZNSoUWpDu3LlSn7yk5+gKAqbN2/u1i2nV2MQaHc9MRqN7N27l+rq6l5Vdr8TYG/Nuv5B7jPPPMPVV1993t60Yf4ziIyMJDs7m1OnTrFjxw6OHTuGxWLhrrvu4uc//3mQe48/BLk36nuvexBo19v8FpH+xo93hSiKREVF8fDDD7N8+fJ+LYHaEw6HA6PReF5jgguJ1WolMjLyvFVI/67EUVFRF00ddTqdXY5Rvin4NRtJkgKsbZ3L7HA4Qm4e6/F40Gg0AeORPtUUf5zylClTLuiD8ltAli1bxm233XZRhAPgnXfeCQiKutT44xL8Y7FXXnml16bzrvB6vbz//vu8+OKLF21VEEVRWLlyZa9DH/zxIP45I6vVSmNjY582hu0P/rkuv1oeahJSURR+//vfB5nu/bPqfu9rP31uSocNG8b111+vBsycL37hWLx4McuXLz9vJ8TuOHbsmFohfT4fXq8Xq9Ua4M7vX93CZrMFvVCfz4fNZlMfbmfV0R93AKh5u91uoP0FfPrpp+zcuVN1tbnqqqtU861/RZGOEZyyLKsz5qHmbhRF4ezZs5w5c4YlS5aoliWPx4PNZguaPXe73SEX4lAUBbfbjdVqDelE6h/UOhyOgHvy43K5AtYOa2tr46OPPqKoqEidmPzss89U501oH0R3bCz8LjEulwu73R4UYtHxXXR8zh3/hnaPh46LbXR8hn6t58iRIwHbm/v35qypqQl6zn1egcxoNHLllVfyxRdf8OGHH/Z7sQU455pyww03qCsMXswuvGM533//faKjo3G5XERHR1NYWIjRaGTfvn3qYhWyLDN79mwsFgstLS1s2bIFSZKIjIxk5MiR2O12BEEgPT0dnU7HwYMHiY+PJzY2ls2bNyNJEnq9nuHDhxMfH69OkqWnpzN8+HCqqqooKCigra2Nw4cPU11djSAIjBw5kszMTM6ePcuBAwfQaDT4fD51fsmPLMuUlJRQX1/PV199RWpqKpWVlezbt0/1UB47diwajYb9+/fT1NSEJElMnDhRndhUFIX6+nrVymgymSgoKAhqqLxeL1u2bFGXDMrPz2fgwIGcPHmSkydP4vV60Wq1zJ49m9bWVo4dO4YkSaSmplJVVUVxcTGpqalER0dz9uxZjhw5ArRrJVOmTMHtdnPkyBEaGxuRZZnx48erLicAn376KfPmzcNut3P8+HGioqLIycmhuLiY6OhoBgwYwObNm2lra1PfyZgxY6ioqFAX1DCbzYwbNy4gmvDMmTPs27cPvV7PkSNHgsIz+qWM+4PtQ/nP9xa/T9F1113HAw88EDKa62Ly7LPP4nA4MJvNHD58mL179wYsw2mxWPjqq6/Yvn07kiSxadMmSktLMZvNFBcXs2fPHpqamtSWEeD1119HkiQkScLlchEZGcnx48fZv3+/asXrGJm3cuVKZFmmrKyMzz77DJ1OR1tbG5s2baK+vp5jx46xZs0aNbJu7dq1qv+XH38L6s/3zTffDLivnTt3YrPZ2LBhA5WVlSEj+bxeLz6fD4vFwv79+1V/uY5IksTZs2cxm82cOHGCHTt2YLPZ2LRpE83NzVgsFnbt2sWBAwfU++x4r/7vkiTx17/+FY/HQ3R0NMXFxezcuZPGxka+/PJLysvLVWdFP4qisHr1amw2G9XV1axcuZK9e/ciyzJffPEFlZWVHDt2jE8//ZSIiAh8Ph/r1q2jsbGRkpISvvjiC2RZDgpj8Ht4OJ1ODAYDzc3NQc+mX2tYarVa5syZw/bt23nrrbf6tHV0R3+dm266iYcffviCOfL1hcjISHXBgIiICI4ePcqECROIjY1l7NixXHbZZURHR7Nx40Yuv/xydu3axfe//311Nv706dOMGzdOXQvL6/UiSRJZWVl4vV6GDBlCZWUlNpuN5uZmTCYTGRkZJCQkMHjwYPV5SZJEY2Mj8fHxLFiwAJfLxYsvvkhDQwOyLDN69GjmzZtHa2sr5eXlVFdXqzv8iqJIbm4uQ4cOZerUqYiiyMGDB3n00UcRRRG9Xs/Ro0fJz88nMTGR6dOnB3mtCoJAbGwsgwYNora2Vo319vl8AVZEg8HAggULGDp0KBaLhePHj3Pq1CnKy8vJzMzEbrdjMpn44osvWL58OcOHD2fIkCFkZWVRXV2NVqtl2LBh+Hw+Dhw4wMiRI2ltbUWr1bJt2zbS09NJSkpi/PjxASZZPxMmTGDXrl3ExcXhcDjw+Xzq1uGxsbFs376dadOmccUVV9DW1kZ9fT3Hjx9HURSGDBnCVVddhcFgCKinkiRx9OhRVqxYgSiKNDc3B00Y9nuR14SEBO6880727t3L3r17gb6tnL5kyRIeffRRdeHmS43ZbFatWTqdTm05Oq7G51/fSVEUHA6HumaxwWBQK2heXh7Hjh3jzJkz3Hjjjfh8Pnbt2sWePXsYM2YMFoslqEXsiL+F9YfhGo3GADdt/+SWP868p0Azv8NkR3d3f76hZv2dTidbtmyhtLSUYcOGYbFYAs7z41eHAdU7wGq1qq4oFouFMWPGqAsDhrpfvwt7dHS0OtMdGRmpuvv45806C4cgCFx++eW8+OKLzJo1i5kzZyIIAh999BHZ2dkkJiZitVrVhtYfm+NXgf0rYnYui389Av/qNKG8Hs7L3jlq1CjuuOMOEhISekzb8abvuecennjiiUsuHB3LEOoldHWOKIoMHDhQbZH8unxUVBSXX345u3fvZs+ePUycOFENt83Pz1cjFP0Vzv9COl5Po9Gg1Wqpr68H2l3BdTpdyLj1nlRQQRDUAanX68XtdgdYdELhcDg4c+YMY8aMUccmoZAkSV25vrW1FY/HQ1ZWFoIgMHjwYHWVFH9d6HivcG5JpKioKNxuN+PGjWPixImMGjVKXYKnu/tLSkqira2NQ4cOccUVV6DRaNi3bx+xsbFER0eTlZXFV199haIoeL1eKisrSUtL6zFfg8FAW1ub6rbTuQE6r2XCdTodS5cuZfPmzaxevbrLNWn95jZBEPjRj37Egw8+2G8HvvOhY+vU0flPq9WqS8bo9foAx0O9Xo9Wq+Xqq6/mV7/6FTExMej1ehYtWoTJZMJkMhEXF0dmZqbqr1RQUMBLL73Ehg0baG5uVtWM/Px8nnrqKZqbm7n55pvVOZnMzEw2b97M8uXLkSSJ+fPnM2jQIFUf71jOoBbua7Om//nec889/Nd//RcpKSmYTCbuvvtuVd0KNf8TGRnJoEGDeO2114iJiaGlpYWRI0dSWFhIcnKyms4/vnn33XcRRZEbb7yRlJQU8vLyePnll4mIiKCuro7/+Z//wWAwkJyczBtvvIFWqyUjI4O1a9dSWVnJ0qVLWbhwIXfffTdZWVm0tLTwgx/8QO3hupqj8huHKisriYmJYeDAgYwcOZL4+Hg0Gg1XXXUVDzzwACtWrMDj8ZCfn09ubq4aG9NRSLKzs3n88cd5/PHHufbaa7n77rtJSUmhrKyM8ePHB1y3TxOFofD7wcyYMYNTp06FdEPxv8Sf/exnfO9737to8xw94R+o+VtavyD4yyyKYkAaICCd3/xrsVgCHrp/eZ2OuFwu2traiI6OViu5/7qAGgnnz1uSJNra2tBqtaqXa8dydS5/5/vqeH2/yTY+Pr7Hc/3X8ZtBo6Oj1XM6pvWHKVitVsxms9rY+M2kNpst4Hr+gbm/B/YP2P2/ezwempqaGDBggNrD+nvZrlr8js+jq0nApqYm9Hp9gN9Vx+v68S9UrSgKTqdTtWZ2jhk6bwHxF2L9+vUsXrxYtSP7b1YURRITE3n00Ue57bbbzmu1kH81OgeN/adcu7d8k8rYVVkuiID4L/Dss8/y/PPP09DQgM/nIyIiguzsbO677z5uuummLhcqDhPmm8oFExA/mzdvZs+ePTidTlJTU5k0aRK5ubkXdFekMGEuFRdcQMKE+Xfim+HWGibMN5SwgIQJ0w1hAQkTphvCAhImTDeEBSRMmG4IC0iYMN0QFpAwYbohLCBhwnRDWEDChOmGsICECdMNYQEJE6YbwgISJkw3hAUkTJhuCAtImDDdEA7SCPNvh09RqHL6+LTGxv5mB5VOL20+GVmBdLOOZdlxTE/s3Xbc4XiQMP9WWL0SH1Xb+PPpJurdodcCTjXpeHdyBmZNzwpUuAcJ82+D3Sfzf2XNvFfRgtXb9WZNsgJeWYHQm0oFEBaQMP82fFxl5d3yFmy+roXDpBFZmB6NRdsL6SAsIGH+TahyevlDaWOXwmHWilwWb+bbGbHkRRrQ9HIxlbCAhPmXRwEeOlRNq/fclgkCIAgQq9NwdWo01wyMIiNCT18XGQoLyL8YoRap+09GVuDDqlaO2dyYtSJmjYhFKzI4Us/MxEimJpiJ1PVOnQpFWED+hairq+PLLzcxdGgeI0eO/I8TFEmSkGU5YCFqpyRTYnWzICWSzAgDaWYd2RF6Uk06dOIF2OApbOb91+GHP/wB69evY9KkyTz22GNkZf1zVsbvK4qiUFdXR2NjI7m5uX3enNXn83HkyBE2bfqC5uZmxo0bx9VXX9P+mwLNHh9ROg2GCyAQnQn3IP8i7Nu3lzVrPsTr9bJ37x6KiorIzMz6xizd2R0ej4eHHvoxlZWVPPDAA1x55ew+9X6rVq3i979/kZqaGrxeL2vWfEh5RQXfu+d7aAVINFy8avyf1Uf/C/Pyy39Ql+ZvbW2lrKysx71Cvins3r2Lzz//jGPHSli1ahUtLc29Pvdvf3ufhx/+MadPn8bpdOLz+aivr+fPb/6JTZs2XbxCf01YQP4F2L17t7qnnx+PxxO00eWFRJZldXfaztux9ZWPP/5YXY396NGj2O2OHs5ov/66dWu5//4VIXfHramp4b333g25uemFJCwg33Dcbjfr1q2ltrZWPabVaomLi+uzLu9HkiRaWlpobe16W+fq6mqefvpXPPDAf3Py5Ml+XQfaxx/79+9TvzscwTvYhuLQoSJ++cvHu01TUlLM4cNf9btsvSE8BvmGc+LEcfbu3ROgTqWkDCQ3d3DQfnrdUVtby+nTpygrK+Ps2bNUVlYCCvfee1/QTl+SJLF9+zbeffevuN1uBg4cyC9/+US/yt/Q0MCpU6fU7xaLpcdy19TU8Mc/vkZ1dXW36SoqKigpKWHChMI+PYu+EBaQbzA+n499+/ZRUlKiHhMEgVGj8ikoKOjxfJvNxt69e9iyZSsHDuyjqamJlpZW7PY2ddddSZJ5/vnfBZzndrspKipS90PfsmVzv/fyOHz4MB6PR/2ekZEZsLtXZ3w+H59//hlffPFFSNWqczmPHz+ublR0MQgLyDeYhoYGPv/8M7WiAsTGxjJnzlxiYmK6PXf16lX8+c9vcvz4cdxud5eVbdeundTV1ZGUlKQekySJhoZ69Xt9fQNOpwOzue/7uxw8uD/ge05OTsj9F/1UVFTw1ltvYbPZgn4zGo34fL6AeyktLcVqtf4HCYjPh+Lzofi84PWiSBJyazNyfT1ySzNySzOK24UiywiiCFotgsGAGB2LGBOLJiUV0WwGvR7BYETotLvpvxLl5WVs27Yt4NigQYOYO3deUFr/VmLbtm3jued+02vd3OPxUFtbGyAg7fkF5u3z9d0goCgKBw8eVL+Lokh2dnaXAuLfqezo0UCDhCiKjBgxkp/85FHsdjt3371MHcdUVJRf1IH6P11AZJsVxdqK1NKMYrPhPXUCqboKX0UZ0tkKpLo6pKZ6FLu9V/mJsXFoB6ahG5KHbmQB+pEFaFPTEROT/qWERVEUdWPUjnznO0uCVBRJkjhx4gRvv/1/rF69KmTr2zUCmk5xEbIsY+/wvLVaTb82QKqvr6e0tFT9npCQQHp6epfjherqKl599eWg4+np6TzwwINMnjwZRVFIS0unrOwM0D62qq+vZ9iwYX0uX2+45AKi2NvwVVbgqyxHOluB98QxpJoqfGcrkeprkRsbzit/ubkJT3MTniOH4O/voRmYin5kAYYx4zFMmopu6AgEg+EC3c3Fo7GxkfXr1wUcGzQog/nzFwSl3bJlCy+99CL79u3tUW/vjMGgJylpQMAxSZJo7PAeTCZTt+OGrigpKcHhOGfSTUlJISEhscv0v/71r2lsbAw6ftdddzNz5kygfQw2a9Ys/vSnN4D2zTjPnDnD1KlTL4rrzSUREKm2Gu/Rw3gOF+EtOYLvbAVSUyNyUxOKo3c9Q7+vXXUWZ9VZXFs2of1wFcbLphFxw2J0I/Iv6nXPl1WrVtHU1BRwbPny76q7t/r55JP1/O//PhlgKeoLM2fOVPcp9+Pz+WhoOCcgMTEx/ap8xcXFQQKSmBhaQHbv3s2aNR8GHV+4cCE33bQo4Ni4ceNUAYF2NetieUxdHAFRFKS6GlzbNuPa/AWeA3vaVSmXE8XjgfOceOpXkZwOvMVH8JWewLFmNeYbFhF5+/9Dk5xyycvSE5Ik8dprrwYcS0pKYuHChQHHtm7dyo9//GOamoJb3e7Q6/UkJCQwYUIhDz30SFDlb2hoCGjJBwwY0DmLHvF6vRQXH8XlcgHt216npw8iPj4+KK0kSfzud78NMEYApKam8j//88ugMcvQoUMDvldVVX3DBUSWUbwe5IYGXNu/xLHuI9y7t1/c3qGjydH/t6L+EzjK7IDi8SA11GF79UWc6z4k+v5HMF4xB9HyzdmeesuWLdTV1QYcW7RocYCac+bMaX7+88d6FA6tVoteryczM4spU6ZQWDiR4cOHk5KS0uW44uzZswGqWlpaWp/voaqqirNnK9VZeIslkuzsnJDX/Pjjjzh8+HDAMY1Gw09/+ljIbcOzsrKJjIxUx1q1tbXdCoj/t47/+z8dv2u12qDx0XkJiGxtbVefio/g3LQR97YvkRrqu6ycvUYU2y1QRmP7/wYDgt7QPsjWakGnRzSZEIzGdiuW+PVNKTKKJKG4XCgOO4rb3W4Rc7vaj7lcKE4HissJioKvopymh36A6cp5RN65HF3ecAST+fzKfp5IksTq1asCjsXExDBnzhx1HqKtrY2XX34lYADcGYvFQk5OLlOmTGHu3HmMGDECn8+HRqNBp9N1O6dRVVUV8D0zM7PP91FWdoaampoO9xBNTk5OULqGhgY++OCDIHXyiiuuYPz4CSHz1mg0pKWlUVxcDEBjYwMVFeUAeL0+JMmHJElIkozX68XlcuF0OnG7Xbhc5z4OhxOHw05bWxtut5sZM2Yyf/78ACHpu4BIEr6qSjxfFeHetQ3P/j14T5S0q079QaNBExuHGJ+AJj4BMT4BMTYebUoqYmwcYnQMYkwMYmQ0QkQEgsnULix6A+h0CBoR/AIiyyiy3G4e9rjbhcHpRG5taR/zNDchN9TjrShDbmxAqqtBqqvFueFjPEX7MF+3CNO8q9EPG9m/e7kAlJeXU1R0MODY1KnTSE1tb8VlWWb79u18/vlnXbpsjBs3jgULvsUVV1yBXm/g0KFD7Ny5g5aWFkwmE5mZmYwYMZLs7OyQYwt/ZfOTkZHZp3uQJImTJ08GuMfExsaGnLH/8stNAa4o0N5j3XLLt0lMTMTlctLU1ER9fQPNzU2qf5jValXTV1ZW8pOf/ASXy4nd7sDtduHxeL7+ePF6ParvWnc9zVdfHaKwcAIDBiSrx/okIN4TJTg3rMW9YyveEyX96y00GjSJSehyh6DNHow2MxttRlb7HEZMDGJ0LII5or136CuieG5uxGSC6NCTaYrTgWy1Ijc1IjU1IpWfxnuqFPe+XXiLD2O5bRmGiZPbhfASs3XrlgD932QyMXnyZGJjYwGwWq1s2PAJNTXBbhixsbFcf/0NLFq0mGHDhnH48GF+97snOXjwAPX19ciyjEajISYmhuzsbG66aTE333xzUD5nz1aqf+t0OgYNGtSne7BarRQXF6vjj/b5jxwSEhIC0tXW1vLhh/8I6D1EUWTIkKHYbFZefPFFSktPUF9fT3NzC1ZrK21tbdjt9gDzt9vtZtu2rX0qYygqKyupr2/on4DYXn2RtrffQGps7PPYQtBo0Q0bgWHiZAzjCtFmD0aMiUEwmRGMpks+PyGYzGhMZjQDktEBXDYZxeVCtlmRqs8iOx3g9cIlFhC73c6+ffsC5jFycnLIzx+ldvs1NTV8+umGoHOTk5O5//4f8a1vfQuLJZK2tjZWrXqfjRs/Dehp2k24jTQ2NnLixAkaGhq49957A/KqqenY8sd1a5oNRUNDfcBkn0ajYdy4cQG9laIo7N27h+3btwec6z9+6NAhHA47LpfrvL2Je4tfDetIrwTEsfZDrC89i9zbCaivxxD6/AJMcxZgumIu2kGZvS6o0mmg7e+jFEXCI7nwSC58shdZ8QEioiAiChr0GgMGjRlR1ADCuQD9r/VtoauQfY0WIcKCJsKCJnlgr8t5oSktPcnx48cD1IC8vLwAq83mzZtpbg6Mp4iOjmbFihXcfPMt6jGbzcrOnTu79ZxtaWnh1VdfZtiwPK644kr1eEcDQVJSYkCIa08oikJVVVWA/5hWq6WwcGJAOo/Hw3PP/SbIcqUoSoD69M+mRwGRrVbs7/6le+EQhPZWOS4ebe4QjFNmYJx2ObrcwefGByGQFB8eyYVXcuOVXLglJ62uRpqd1dhcTbS46rB7rdg9LTi9Ntw+J17ZjSR7kRUJWZG/vryIiIhG1KEVdRi0JkzaSCL00Zh1UcSYkogyxhNrTCbGlIRBa0avMaDXmNBrjIjCxfEE7QuyLFNSUsKZM6fVY7GxsVx22WUB1qvPP/8s4DxRFFm69HZuueXbAcd9Pl+QIIWipaWFN9/8E+PGjScmJgan00lra6v6e3x8Qp88ZX0+H9u2bQvwPk5PT2fw4MHq9+rqKt54441ujQz/DEwmE4ZOk8g9CojnyCF8leVd/q5JSUU3dBiGcYUYJk5BP2oMQhdxCrIiYXM3YXU3YnM30+SootFRRYurlhZXHVZXAw6vTa34vUVRZCRkJMmHR3Li8FpppjYonShoMGojiDEmEm1KJM6UQoI5jThzMlGGRKKMcZh10YjCpQ+TsdlsHDx4MMCvKClpAJMmTVG/2+1tQT5WU6dO5b77fhAiR6HXFbu0tJS9e/dy5ZVX0tLSHOBmEhcX1ycBcblcQZF+V101R1Wvmpub+fnPf8a6detCnP3PZeDAgUHjpB4FRKosQ+5kaxd0unahmDwD48RJaIcMQ5s8EEI8SJfPToO9kmrbKert5dS1ldPqbsDmbsLuaemzMJwPsiLh8FpxeK1U2dpbL42ow6KPIdqYQLQhkQGWDJIjsxgQmUWCOe2SCUtDQwN79uwJODZ6dEHAHERJSUmA+hEdHc1jj/0sZOCUwWAgLS3t67iP7qmtreXo0SPMmDEDq9UWoJbFxvZtFv3IkSOcPHki4Ni8eeecK/fs2c3u3bt7nd+FQKvVotPp0Ol06ryQXq/HYDBgNBoxm81ERFiYN29e0HirFypWa/u8AYBGg2H8RCKuuwn9uIloU1IRIoJdoCXZx+nmQ5Q2HaSs+Qitrnoc3jbckh1J7puv0MVGkr20uuppddUDxZQ0GDBqIzDpIhlgySA7roCcuNEkRQxCuEjCoigKp06VcurUOZVDEATmzVsQMF/RWSWZPfsqcnJyQ+YZHR3N5Zdfzu7du3sc5Hq9XsrKyrDZbAGuIdA+wdcXAXnnnf8LmGQcNGgQw4YNV7+Xl5fjcrlDndprIiIiEEUxwJgxffp08vNHYbFYiIiIwGg0YjAYMRgMmExGjEYTZrMJrVaLKIqIogaNRoNGI6LRtAtQXFxc0ERmjwKizchGjE9Em55B5H8txzjjSgSNBjo9NFmRqbKe5GD15xyt20qLqx5ZkVEuYQ9xIWgfD7mxuZuobyvnSO029BoDWbGjmJq5kOy4ggs+ZlEUhU2bvgjQ26Ojo5k+fXpAuo7zCtBeKbqqvAaDgZtvvhWzOYJNmzZRW1tLZWVllwsmNDY24nA4VNOsH71e3+tAqZaWZj78MNCf6vLLZ6mVzufzcfLkSVz+BrcXREREMHz4cEaMGEleXh45OTnk5OSyfv16HnnkITXdvffex4QJEwLK2tXffaFHATFdORfD2PGI0bEBKpSsSLh8DuyeVo7WbeOrmi1U207ik/81VtroDQoKytf3WVy/k+L6nQxNmMCMrMWkRg/BqO17AFEo3G43X3zxRcCxm25aFNSaBbqga0lMTOz2xcfGxrJ06e0sXXo7cG6c8/bbf+HLL78MyM/tduHz+YLMnH3xcXrnnXcCeiuNRsPs2bPVfLZu3cLWrVtDWtY0Gg0Wi4Xo6GhycnIpLJzI+PHjycvLCxkM1dlps7a29qKE3fbKzCvGnRu4+GQP9fZKzrYep7TpACcbD2B1981Zrjs0ghadxoheY0Cr0aMTDeg0ekRBi0bQIooaBIT2iqH4TcIKsiIjyT4kxadaxTySG7fkwCd5zpmOz5NjDXsobSrisvRvMSF9PokR6WiE83NpO3Bgf8BYQafTsXjx4qB0Hc2tsizT0tLap1DYyMhIpk2bRkFBAT/+8YOsW7dWrdBarQ5RFIMqmcfj6ZWQNDc388EHHwQcy87OVq1Xra2trF+/nvLysoA0ERERZGVlMWLESCZMKGTs2DFkZGT2aFr2es9PTestvX6zbslBefNRTjUVUdp0kGrbKTySq+cTu8GosxBjSMRiiCXSEItFH4tFH4PFEPu1KdaIQWNCrzGhEbVoRF27kAiiOh5QFBlFUZCR8MkefJIXt+TE7XPg9jlo87RgdTdidTVgdTfQ6qqnxVWPV+r/A/bJHnZWrKHSepypGQsZnjQJjdj/yc7Vq1cHfB8yZChDhgwNStfRE1aWZTZsWM/cuXP73HKWlZVRU1MdUPF1Oh0ajQaDIdCDobm5uVerkHz44T+CXFSmTZtOVFQUiqJw+PBXQROckZGRLFq0mOuvv56hQ/OCTKx94WKtn9ejgDi9Nk407mN/1UZqbWewuhvxyf3xuxKIMSYwIDKLAREZJFkyiDcPxKSzqPMRBo0JrUZ/QXV8RZHxyV7cUrvAuHwObO4mamynqGk7w1nrCRodVUh9VA19spczzYdpcdbR6qpnaubCnk8KgcPhYMOGTwKOXXXVVSHTdvaJ2rBhA3/960q+/e3v9Opasiyzf/9+nn321xw6dChAQPxx61FRUQHnnDlzGp+v+2dz4MAB3nvv3YABfmRkJOPHT8BkMuP1evnLX/5CfX19wHlDhgzl3nu/H9IFvq/8E1Y1UahsPc6akt9TZT2JV3L3WU3Ra4ykRuWSGz+OzNiRpETloBX1aAQN4tc9wcVGEER0GgM6jQGLvt2fSUFhcPw4JMWHrPhosFdysvEAxxr2Utla0qeescVVx/rjf6TV3cCCof+vz+XbtWsnLS3n1qcyGAzMnHl5yLSjR49Go9GoLbrdbucXv/g5zc3N3HXX3d22wJIk8eqrr/Daa6/S1NQUZNnyO/MlJyej0+lUg8G+ffuora0jKir0ogjl5eX89re/4ciRIwECN2LECPLy8hBFka++Cu49tFotd9xx5wURDn9+F4Muc21x1bPy0BM02M/2KqN2Vw8jeo2RrLhRDE2cSG7caKKMCV27eHRAVkBSFKSv/5f5+n+l3dVEVhQ8soJPUfDJoBHaV73TiiJ6EUSh/Soaof1vjQCaDv93REBoV9m+vv206DzSovOYkX0zLc56jjfs4VjDLipaSnBLTrySG1npWs3wyh62nlmFJHuYO2QZek3Xq3Z0ZuPGjQHfR40qCFpAwU9sbCwFBQXs339upRCXy8Wzz/6aDRs+YdGixUyceJnq2OhyuTh9+hRbtmxhzZoPOXu253cZExNDenq6GqHodDq5887b+eMfXyc1NQ2dToeiKLjdbo4cOcyTTz7BoUOHAvLQarWMGzeerKwsAN5//72gUOBhw4ZzzTXX9FierpCkwMb6kgvIroqPeyUckYY4Yk3JpERmkxM3mszYkUQbu3du88oKDknG6pWxSzJ2n0y920ej20ed20eTW8Lqk2jxyLT5JNyygkuS8SogywoSCiICwteV3yC2f8xakRidhmi9hjidhiSjllidhjSzHpNWIFKrIVIrEqkT0YZQWgUEYk1JTExfwMT0BTQ4qjjTfIjTTYeospW2z+d4rCF7UlmR2FO5HhCZlXOr2lt1h9VqZd++veeuLwiMGze22yV95s2bHyAg0N47HDx4kIMHD2KxWNSwVpvN1usxREfy8/MDQnjLysq48cYbmTVrFjk5uTidDo4cOcKWLZtD5p2ePohZs2apak9ZWeDA3Gw293shOj+SFChwl1RAPJKLvZVduwLoNUaSLBmkRw0hM66A1KjBxJkGdDlQ9SkKdS4f1S4fNU4v5Q4vdW4fNS4vzR6JRo8Pq1du31ix1/Q+baxeQ4xOQ6JBS5JRS5pJx0D1oyXBoA0pMAnmgSSYBzI6ZRb19gqqrCcpaznKWesJ6u3luH2B9nyP5GLv2XWAwuzcpZh03UcpFhUVBbi2R0ZGMmLESMzmroO2ZsyYyVtv/ZmKioqQv7e1tfVrGRyNRlStYTNmzOQf//hHwO+trS38/e+rQ53aKR8NkyZNoqBgtHqsc+W95pprGDNmTJ/L2JHOPZJWe3E8wkMKSK3tdEjTrV5jJC/xMoYkTCAtejBxphQM2tAv0ynJHLO5KbG6KbG6qHC2C0OrV8LqlZEu4bYkzR6JZo/EaXu7cUErCETq2nubWL2GDLOevCgDw6KMZEXoidAGjo20op6UyBxSInMYnjSFFlct9fYKjjfs5WTjAVpc50I+3T4neyrX4ZM9XD9iRbfq5b59e2ltPec6kpmZSXZ2Trdm24yMDBYuvJHf/e75C+oGrtFo1UnHwsKJDBgwIGhisjfExsZy1113B7i/DB8+nC+/3AS0u+UvWXLbeZe388r2l7QHaXQEBuNEGuIYMWAaE1LnEG9OxaA1hbQ02XwyB1uc7GhwUNTipMblxS0puGXlkgpET/gUpYPQQFGLi09qBYyiwACjjsI4M5MTzIyJNQX1LCadBZPOQrIliyEJhdg9rRxr2M2Bs59S3toeAtrek3yCV/awOP+hUEWgpaWZo0ePBkzMZWdn9xjeajKZuPba69i9e1dQLEVfMRqNAYsq+AUkMTGRa665NmjhiN7w1FO/CoocvPHGm/jDH34PwKJFN5ObOzjUqUD7uznr9GLRaojXd22Z6iwgl9SKlWTJQK8xYtZFMXrgFUzJuJ4oQ6C1QQF8cnvlP2p18WmNjc31dhrcvgs0JXfpkBQFh0/BATR5JIqtLv58polUk45piRHMSrKQF2XEIApoReHrDSJFjFozRq2ZyYOuZVL61ZS1FHOg6lNK6nfR5mnhYNXn6DUmrs67B20n9bO2tpa6ujq15zGbIxg+fETIRQo6k5OTw7333kd1dTWnT5/uMX1HRFEkLS2Nu+66i1dffU2duxBFQZ1LMJlMzJ07j7VrP+7VwB7aXVIeeuhhrrpqTtBv2dnZPP+7Fyg9eZKbb14csEqJvx55ZIUtDXY+qGxlX7OT/GgjT4xKJsXYhdru69yDXEIBGRiVw+3jniDKEEdiRGC4pU9WaPBInHV42NXkYGu9g2NtrvNep+GbyFmnl7+Wt7CqspXsCD2F8WYui48g1aQlXq8NUMUEQSQzdgSZsSNocdVxrH43R+t2cLqpiE9PvMmM7MWYdZHwtcrl8Xjwes/NJ8XFxQXo7T0xdepUfvGLx3nqqSc5ceJErzbTiY2NY8yYMXzve/cyZswYfvOb36i/tc+kn6tko0aNYsmS23jxxRe6HdOIosiAAQO4887/6nI+RqPRcP111wcdb3D7OGX3sK3Bzpf1bZTbz93DabsHRzf7nXu9gWMQsZu4o/OhS8UtJy7wZTl8Msfb3BxudbG3ycnhVifNHumC9RYaQcCkETBq2ncqNWkEDKKIThTQiwJasd3K5N+GTlZARkH6uhfzW7rafDIOn4xDunBqnVdWOGZzc8zmZnVFK0OiDORHG8mPNpFr0ZNm1gWYkmOMSUxM/xZjU2dzpvkwFS3HqLGdITN2hKqams3mgJY0KSmJ4cOHB127O2bOnMnAgSm8++677NixndLSUpzOQMOB0Whk4MCBDB06lFmzrmD69BmkpKTgdruJj49Xg6oSEhKI6OCZbTAYuOmmRbS2tvLXv64MGXxlMpmYMmUKixYtZvr0Gd0uSu1HUhQqHF6+anWxvcHO/mYn9e5gD+9onYi2mz0HO1vPLtZWdD2ObJo9EnuaHGyut3Pc1j7YdkvnV/EitSKJRi2pJh1xei1JBi1xeg0JBi1GjYBJI2IQBXT+z9fzGYJwbsjrnxuRFPB+PUfilmSckqKajevdPqqcXqpdXqqcPpo8PvpkKAuBXZL/f3v38htXecZx/HvOzLnN1eOb4uBbIORmk6SAC4bQAlJVoVRRVSHoou0idAGqRLuglbqsKrYs+xd00027aCmkVYtUKCRKSuIUSEiA2sFXGHs8nsuZOTNnThdnHOJc3kxiJxmH57NOIkc+v3Pe93mf9305mXM5vVwhYxYYiBk8kLZ5uDPG3rRN6pIrhw3d4v6uhxjqGMFv1NEuua+or28r/f0DnDgRlnkPHDhwUyeU79ixk1de+SXnz5/j7NmzTE1Nkcvl0HWdTKaDgYFBhoaGGR4eXnMAnGVZHDp0iNdee41UKsXIyMgVDYA9PT28+OJL7Nu3nyNH3uTMmY8olUpkMhl27tzJ+PjjjI2NMTg4eN0H1A/gs1KVfy4UObFU5lyhSkHxhdiesEgohk2XFyhu+0p6tRHw59kVjsyt8FnJI1/zb/rh2mJHuTdhsSdlsz1hMhgzSRo6dkTH0MDUdaI6Vy213oyA8E1VawQXiwSFus90ucbHhSqn8y5nV6rkvJu/wswPArLVOtlqnQ/zFf46V2CLHeWp3gRP9iYYipkXv3ZmxIbLfn+xWIwf/fgnnDp1CsexOXz4hZv+WRzHYe/efYyMjOJ51YvDD8MwME3zmg/P4cM/ZXFxie7ubg4e/N5V/1wmk+GZZ55hfHycUqmI7/tEowbxeJxUKtXSXpELZY8/XMjzTrbIl9U6leu8YKOaxlhXjA7j2v/2pWtFpmle80jT9briGugAeHOuwO8+yTLj3lh/Ujh5DYdL+zscHumKMdbpsCtpb8id1Rup0vwSvJMt8162xLRbww82pufX1DUe7YrxbH+a8e4EusY1i73FYvGKN/fdoBHAVNnj91M5/jSdv/5faNKAx7rj/Hp3L1uda69tHD36Hs8//xxBELBjxw7eeOPIDR0u0fLPc3lA/j5f4DcfLlD2W6uxW7pG2ojQY0fZnbJ5OOOwt8Nhi33Hb1ZomdcIOFeocnypzPs5l8mSx0rNp1hvrCswGuFQ4aneBI92x9jqGGSMSNu9LDZSzvOZLHu8PrvCPxaK5GvX/0prGiSjETrNCA9lHJ4d6GBnUt3Zm81mefXV33Ls2DFefvnnPPfc87fkdPc1ASn7DX5xcpYTS+pbSKOaRq8dZThuMpq2GU3Z7ErZdFmRFrqu2lvFb/BJ0eODfIWJZZepkse0W6OoGC+3ImNGGEnbPJhxeCBtMxw3yRhR7oas+EHAfKXOuUI4xzi6VGbxKhPvy0U1ja2OwY6kxTc7HcY6YwzFW7+YdGFhnsnJSUZHR4nHb81XeE1AJkseP3t/hrlrDK0MXeOBtM1YZ4zRtM29cZM+xWdws1up+Vwo1/i0WOXkcjgxv1D21jXR1zUYjJncnwwrYfvSDjtTFuYmTEqjOfE+uljm2GKZMysVllqc1+1J2TzeHefhTof7EhYZsz1frmsCMrHs8tJ/ZqhcNrzqMqM82Rvn2z0JtiVMOs0ITuT2H41zp/gBFOo+S1WfU8sub31R5GTObXkYejUaEI/qZMwI/Y7JY90xHmm+Qdt9CNYIAk7nw8Xh9xbLZKt1Si0MR6Oaxt4Om0P3pNnf4dBjtf9ztCYgx5fKvHhi+uJ/tMuK8oN7Uny/P02vFb3YUv51ttqWP+PW+MvsCq/PrbBQWd9JLRphi76la+xKWTzdrISpJql3QrHe4F9fFvnjdJ4P8xVqze0I16MBe9I2L2zr5JGuGHZE3zTP0ZqA/Ddf4VcTsySiEQ72JTm4NUWPtXkm23dCsd7g3cUSb84V+GilQrHWwPXXN7lftb8jXF95MBNjIGY0F1B1TF275XMXPwgurin9r+Tx9pcl3s4WmS63VtmMaBopQ2dX0ubZgTTf6olfsS9nM1gTENdv8EG+wvakRca488dxbiaNAM4UKhxfcpnIuXxaqjLr1ta9MAlh2bjPNrgvabI9YbEtbtJjRcmYq/tbIpj6+r7ufhBQqDfIeeFQ8nPX46N8lQ/yLueLXstdCRrQHzPY1+HwdG+C8e44VpsPGVWuKPOK9QmAparPuUKFk8suE8sVPi5UWWmh3NkKDXAiOl1WhF4rSsYM97isdiMkjQgpQyfe7EawIhoRLVzDD3dphmXt1bac1S0I85Uac26N+WqdBTfcuObdYLrvTZg82hXnQHecPSmblGKhb7OQgNxC1Ua4UWyq5HF8qczRxTLnixt/XI2ugaWH/WumrmNFwv611e3GOuFaQ9DcvlwPwqbTWiPAbTSo+uEOz3rjxhdKdQ22xS2+uyXJY90xhmJX7qfZzCQgt0FA2PDoNQImll3+Nl/g39lSyyXRdnVfwuKHAx080RMnY96dC6ASkDsk5/m8my3x1hdFJpZdKs2+sXob/zpMPWwkHU3bHNqa4jtb2ufi01tFAtIGZt0aJ5ddTuVcPi16ZKt1lmq+cj/E7WLoGp1mhD7H4BsdDk/0xNnd3Dz2dSABaSOrh1tMljwulGucK1SZabbrL1TqN3ioxc3TNeizDYbjJrtTFrtSNruSVtuty9wOEpA2tlJrkKvVWfZ8ZtwakyWPz8vhqTDzldq6tiBcStcgY0QYjIdl5PuTFtsTYSm5x4puyjaYjSIB2SQazfLs6uawUt1noVLnQqnGF9UaM80NYcteg0Ldx/UbeI2vVrojWljyjUd10oZOxoxyjxOl3zEZipv0OwaJ6FcVsI3am7PZSUCEULh7CtZC3AISECEUJCBCKEhAhFCQgAihIAERQkECIoSCBEQIBQmIEAoSECEUJCBCKEhAhFCQgAihIAERQkECIoSCBEQIBQmIEAoSECEUJCBCKEhAhFCQgAihIAERQkECIoSCBEQIBQmIEAoSECEUJCBCKEhAhFCQgAihIAERQkECIoSCBEQIBQmIEAoSECEUJCBCKEhAhFCQgAihIAERQkECIoSCBEQIBQmIEAoSECEUJCBCKEhAhFCQgAihIAERQkECIoSCBEQIBQmIEAoSECEUJCBCKEhAhFCQgAihIAERQkECIoSCBEQIBQmIEAoSECEUJCBCKEhAhFCQgAih8H+iPr0PbIBp6AAAAABJRU5ErkJggg==\" preserveAspectRatio=\"xMidYMid meet\"/><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"200\" height=\"200\" style=\"fill:none;stroke:none\"/></svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "both",
        "zooming": "enabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "pd7",
        "x": 330,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b802ef9cfc080ea7",
        "type": "ui_svg_graphics",
        "z": "921fa2367eb264fb",
        "group": "59e2ded26cd3e865",
        "order": 2,
        "width": 5,
        "height": 1,
        "svgString": "<svg x=\"0\" y=\"0\" height=\"100\" viewBox=\"0 0 100 100\" width=\"100\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n<!-- Add here your SVG shapes (circles, rectangles, ...) -->\n<!-- Or remove everything, if you want to paste an entire drawing (<svg...>...</svg>).-->\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "",
        "x": 300,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "34e6a1f831b10d85",
        "type": "inject",
        "z": "f881aab2fefcfaf6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "f8c7fc72defb5e93"
            ]
        ]
    },
    {
        "id": "1f56fcaab5a4f478",
        "type": "debug",
        "z": "f881aab2fefcfaf6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 40,
        "wires": []
    },
    {
        "id": "f8c7fc72defb5e93",
        "type": "function",
        "z": "f881aab2fefcfaf6",
        "name": "EEE 1A - MIGUEL PEREIRA",
        "func": "var statusGerador = global.get(\"STATUS-GERADOR\");\nvar monitoramentoDeFase = global.get(\"MONITORAMENTO-DE-FASE\");\nvar horimetro = global.get(\"HORIMETRO\");\nvar diesel = global.get(\"DIESEL\")\n\nmsg.payload ={}\nmsg.payload.chatId = 1295146448 \nmsg.payload.chatId = -673176821\nmsg.payload.chatId = -1001591744073\nmsg.payload.type = \"message\"    \nmsg.payload.content = \"EEE 1A - Miguel Pereira\\n\" +\n\n\"\\nO Gerador está: \" + statusGerador +\n\"\\nAs Fases do Gerador estão: \" + monitoramentoDeFase +\n    \"\\nHorimetro: \" + horimetro.toFixed(2) + \" horas\" +\n\"\\nNível do Diesel: \" + diesel\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 40,
        "wires": [
            [
                "5595ee7f6db09e0f"
            ]
        ]
    },
    {
        "id": "5595ee7f6db09e0f",
        "type": "telegram sender",
        "z": "f881aab2fefcfaf6",
        "name": "bot",
        "bot": "b5104c50172985cd",
        "haserroroutput": false,
        "outputs": 1,
        "x": 570,
        "y": 40,
        "wires": [
            [
                "1f56fcaab5a4f478"
            ]
        ]
    }
]